<legend><%= label %></legend>
<div class="row">
    <div class="col s1">
        <p>Удал.</p>
        <button type="button" class="btn-floating js-remove-field" title="Удалить поле" data-field="<%= name %>">&times;</button>
    </div>
    <div class="col s1">
        <p>Сорт.</p>
        <div class="input-field">
            <input id="fields.<%= name %>.sort" type="number" name="sort" value="<%= sort %>">
            <label for="fields.<%= name %>.sort" class="active sr-only"></label>
        </div>
    </div>
    <div class="col s2">
        <p>Невидимый</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" data-name="header" name="hidden" <%= hidden ? 'true' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <%if (name == 'header') {%>
        <div class="col s3">
            <p>Текст 1</p>
            <div class="input-field">
                <input id="fields.<%= name %>.value1" type="text" name="value1" value="<%= value1 %>">
                <label for="fields.<%= name %>.value1" class="active sr-only">Текст 1</label>
            </div>
        </div>
        <div class="col s3">
            <p>Текст 2</p>
            <div class="input-field">
                <input id="fields.<%= name %>.value2" type="text" name="value2" value="<%= value2 %>">
                <label for="fields.<%= name %>.value2" class="active sr-only">Текст 2</label>
            </div>
        </div>
    <%} else if (type == 'submit' || type == 'button') {%>
        <div class="col s3">
            <p>Текст 2</p>
            <div class="input-field">
                <input id="fields.<%= name %>.text" type="text" name="text" value="<%= text %>">
                <label for="fields.<%= name %>.text" class="active sr-only">Текст 2</label>
            </div>
        </div>
    <%} else {%>
        <div class="col s2">
            <p>Обязательное</p>
            <div class="switch">
                <label>
                    Off
                    <input type="checkbox" name="required" <%= required ? 'checked' : ''%>>
                    <span class="lever"></span>
                    On
                </label>
            </div>
        </div>
        <% if (typeof placeholder !== 'undefined') {%>
            <div class="col s2">
                <p>Placeholder</p>
                <div class="input-field">
                    <input id="fields.<%= name %>.placeholder" type="text" name="placeholder" value="<%= placeholder %>">
                    <label for="fields.<%= name %>.placeholder" class="active sr-only">Placeholder</label>
                </div>
            </div>
        <% } %>
        <% if (name == 'firstName') {%>
            <div class="col s3">
                <p>Фамилия и имя в одном поле</p>
                <div class="switch">
                    <label>
                        Off
                        <input type="checkbox" name="combine" <%= combine ? 'checked' : ''%>>
                        <span class="lever"></span>
                        On
                    </label>
                </div>
            </div>
        <%} else if (name == 'phone') {%>
            <div class="col s2">
                <p>Показывать флаг</p>
                <div class="switch">
                    <label>
                        Off
                        <input type="checkbox" name="showFlag" <%= showFlag ? 'checked' : ''%>>
                        <span class="lever"></span>
                        On
                    </label>
                </div>
            </div>
            <div class="col s3">
                <p>Доступные коды стран</p>
                <div class="input-field">
                    <select id="fields.<%= name %>.available" name="available" multiple></select>
                    <label for="fields.<%= name %>.available" class="sr-only">Доступные коды стран</label>
                </div>
            </div>
            <!-- исключающий фильтр выключен из-за малого числа стран -->
            <div class="col s4 hiddendiv">
                <p>Не доступные коды стран</p>
                <div class="input-field">
                    <select id="fields.<%= name %>.notAvailable" name="notAvailable" multiple></select>
                    <label for="fields.<%= name %>.notAvailable" class="sr-only">Не доступные коды стран</label>
                </div>
            </div>
        <%} else if (name == 'shop') {%>
            <div class="col s2">
                <p>Выбор на карте</p>
                <div class="switch">
                    <label>
                        Off
                        <input type="checkbox" name="mapShow" <%= mapShow ? 'checked' : ''%>>
                        <span class="lever"></span>
                        On
                    </label>
                </div>
            </div>
        <%} else if (type == 'checkbox') {%>
            <div class="col s2">
                <p>По умолчанию</p>
                <div class="switch">
                    <label>
                        Off
                        <input type="checkbox" name="checked" <%= checked ? 'checked' : ''%>>
                        <span class="lever"></span>
                        On
                    </label>
                </div>
            </div>
            <div class="col s3">
                <p>Label текст</p>
                <div class="input-field">
                    <input id="fields.<%= name %>.label" type="text" name="label" value="<%= label %>">
                    <label for="fields.<%= name %>.label" class="active sr-only">Label текст</label>
                </div>
            </div>
            <% if (name == 'personalData') {%>
                <div class="col s2">
                    <p>Показывать ссылку</p>
                    <div class="switch">
                        <label>
                            Off
                            <input type="checkbox" name="href.show"
                            <%= typeof href !== 'undefined' &&  href.show ? 'checked' : ''%>>
                            <span class="lever"></span>
                            On
                        </label>
                    </div>
                </div>
                <div class="col s4">
                    <p>Текст</p>
                    <div class="input-field">
                        <input id="fields.<%= name %>.href.text" type="text" name="href.text"
                               value="<%= typeof href !== 'undefined' && typeof href.text !== 'undefined' ? href.text : '' %>">
                        <label for="fields.<%= name %>.href.text" class="active sr-only">Текст</label>
                    </div>
                </div>
                <div class="col s4">
                    <p>Путь к соглашению</p>
                    <div class="input-field">
                        <input id="fields.<%= name %>.href.pathname" type="text" name="href.pathname"
                               value="<%= typeof href !== 'undefined' && typeof href.pathname !== 'undefined' ? href.pathname : '' %>">
                        <label for="fields.<%= name %>.href.pathname" class="active sr-only">Путь</label>
                    </div>
                </div>
            <%}%>
        <%}%>
        <% if (type == 'shop' || type == 'wishes') {%>
            <div class="col s3">
                <p>Обернуть в div</p>
                <div class="switch">
                    <label>
                        Off
                        <input type="checkbox" name="wrap" <%= wrap ? 'checked' : ''%>>
                        <span class="lever"></span>
                        On
                    </label>
                </div>
            </div>
        <%}%>
    <%}%>
</div>