<h2>Настройка шагов</h2>
<div class="row">
    <div class="col s3">
        <p>Еще один шаг</p>
        <button type="button" name="addStep" class="btn">Добавить</button>
    </div>
    <div class="col s3">
        <p>Шаг подтверждения телефона</p>
        <button type="button" name="phoneVerification" class="btn">Добавить</button>
    </div>
</div>
