<fieldset class="um-login">

    <% _.each(options, function(option, key, list){%>

        <%if (option.show || option.type == 'submit') {%>

            <%if (option.type == 'html') {%>

                <legend>
                    <span class="um-title"><%= option.value1 %></span>
                    <span class="um-title-2"><%= option.value2 %></span>
                </legend>

            <%} else if (option.type == 'checkbox' && option.name == 'personalData') {%>

                <div class="um-form-group um-form-group-personal-data<%= option.required ? ' um-form-group-required' : ''%>">
                    <label class="um-label-checkbox <%= value[option.name] ? ' um-checked' : ''%>">
                        <input type="checkbox" name="<%= option.name %>" value="<%= value[option.name] %>"
                        <%= option.required ? ' required' : ''%>
                        <%= value[option.name] ? ' checked' : ''%>>
                            <span class="um-label-text">
                                <%= option.label %>
                                <%if(typeof option.href !== 'undefined' && option.href.show) {%>
                                    <a target="_blank" href="<%= option.href.pathname %>" class="um-privacy"><%= option.href.text %></a>
                                <%}%>
                            </span>
                    </label>
                </div>

            <%} else if (option.type == 'submit') {%>

                <button type="submit" class="um-btn um-btn-primary js-create-order"><%= option.text %></button>

            <%} else {%>

                <div class="um-form-group um-form-group-<%= option.name %>
                    <%= option.required ? ' um-form-group-required' : ''%>
                    <%= (typeof option.combine !== 'undefined' && option.combine) ? 'um-hidden' : ''%>
                    <%= (typeof option.wrap !== 'undefined' && option.wrap) ? 'um-wrapper um-wrapper-hidden' : ''%>">
                    <label for="um<%= option.name %>"><%= option.label %></label>
                    <%if (option.type == 'textarea') {%>
                        <div class="um-select-wrap um-field-wrap<%= (typeof option.wrap !== 'undefined' && option.wrap) ? ' um-field um-hidden' : ''%>">
                            <textarea id="um<%= option.name %>"
                                      name="<%= option.name %>"
                                      class="um-form-control"
                                      placeholder="<%= option.placeholder %>"><%= value[option.name] %></textarea>
                        </div>
                    <%} else {%>
                        <div class="um-form-control-wrap">
                            <input id="um<%= option.name %>"
                                   name="<%= option.name %>"
                                   type="<%= option.type %>"
                                   class="um-form-control"
                                   placeholder="<%= option.placeholder %>"
                                   value="<%= value[option.name] %>"
                            <%= option.required ? 'required' : ''%>>

                            <%if(option.mapShow !== 'undefined' && option.mapShow){%>
                            <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg" class="um-icon-add-location">
                                <path d="M0 0h24v24H0V0z" fill="none"/>
                                <path d="M12 2C8.14 2 5 5.14 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.86-3.14-7-7-7zm4 8h-3v3h-2v-3H8V8h3V5h2v3h3v2z"/>
                            </svg>
                            <%}%>
                        </div>

                    <%}%>
                </div>

            <%}%>

        <%}%>

    <%});%>
</fieldset>