<fieldset class="um-login">
    <%if(formConfig.header.show){%>
        <legend>
            <span class="um-title"><%= formConfig.header.value1 %></span>
            <span class="um-title-2"><%= formConfig.header.value2 %></span>
        </legend>
    <%}%>
    <%if(formConfig.surname.show || (typeof formConfig.firstName.combine !== 'undefined' && formConfig.firstName.combine)){%>
        <div class="um-form-group um-form-group-surname<%= formConfig.surname.required ? ' um-form-group-required' : ''%>">
            <label for="<%= (typeof formConfig.firstName.combine !== 'undefined' && formConfig.firstName.combine) ? 'umName' : 'umSurname'%>">
            <%= formConfig.surname.label %></label>
            <%if(typeof formConfig.firstName.combine !== 'undefined' && formConfig.firstName.combine){%>
                <input type="text" name="<%= (typeof formConfig.firstName.combine !== 'undefined' && formConfig.firstName.combine) ? 'name' : 'surname'%>"
                class="um-form-control" id="umName"
                placeholder="<%= formConfig.surname.placeholder %>"
                value="<%= surname!= '' ? surname + ' ' : '' %><%= firstName %>" <%= formConfig.surname.required ? 'required' : ''%>>
            <%}%>
            <input type="text" name="surname" class="um-form-control
            <%= (typeof formConfig.firstName.combine !== 'undefined' && formConfig.firstName.combine) ? 'um-hidden' : ''%>" id="umSurname"
            placeholder="<%= formConfig.surname.placeholder %>" value="<%= surname %>"
            <%= formConfig.surname.required ? 'required' : ''%>>
        </div>
    <%}%>
    <%if(formConfig.firstName.show || (typeof formConfig.firstName.combine !== 'undefined' && formConfig.firstName.combine)){%>
        <div class="um-form-group um-form-group-firstname
        <%= formConfig.firstName.required ? ' um-form-group-required' : ''%>
        <%= (typeof formConfig.firstName.combine !== 'undefined' && formConfig.firstName.combine) ? 'um-hidden' : ''%>">
            <label for="umFirstname"><%= formConfig.firstName.label %></label>
            <input type="text" name="firstName" class="um-form-control" id="umFirstname"
            placeholder="<%= formConfig.firstName.placeholder %>" value="<%= firstName %>"
             <%= formConfig.firstName.required ? 'required' : ''%>>
        </div>
    <%}%>
    <%if(formConfig.email.show){%>
        <div class="um-form-group um-form-group-email<%= formConfig.email.required ? ' um-form-group-required' : ''%>">
            <label for="umEmail"><%= formConfig.email.label %></label>
            <input type="email" name="email" class="um-form-control" id="umEmail" placeholder="<%= formConfig.email.placeholder %>" value="<%= email %>" <%= formConfig.email.required ? 'required' : ''%>>
        </div>
    <%}%>
    <%if(formConfig.phone.show){%>
        <div class="um-form-group um-form-group-phone um-select um-select-left<%= formConfig.phone.required ? ' um-form-group-required' : ''%>">
            <label for="umPhone"><%= formConfig.phone.label %></label>
            <div class="um-phone-wrap um-field-wrap">
            <input type="text" name="phone" class="um-form-control" id="umPhone"
            placeholder="<%= formConfig.phone.placeholder %>" value="<%= phone %>"
            <%= formConfig.phone.required ? 'required' : ''%>>
            </div>
        </div>
    <%}%>
    <%if(typeof formConfig.adphone !== 'undefined' && formConfig.adphone.show){%>
        <div class="um-form-group um-form-group-adphone<%= formConfig.adphone.required ? ' um-form-group-required' : ''%>">
            <label for="umAdphone"><%= formConfig.adphone.label %></label>
            <input type="text" name="Adphone" class="um-form-control" id="umAdphone" placeholder="<%= formConfig.adphone.placeholder %>" value="<%= adphone %>" <%= formConfig.adphone.required ? 'required' : ''%>>
        </div>
    <%}%>
    <%if(formConfig.city.show){%>
        <div class="um-form-group um-form-group-city um-select<%= formConfig.city.required ? ' um-form-group-required' : ''%>">
            <label for="umCity"><%= formConfig.city.label %></label>
            <div class="um-select-wrap um-field-wrap">
            <input type="text" name="city" class="um-form-control" id="umCity" placeholder="<%= formConfig.city.placeholder %>" value="<%= city %>" <%= formConfig.city.required ? 'required' : ''%>>
            </div>
        </div>
    <%}%>
    <%if(typeof formConfig.address !== 'undefined' && formConfig.address.show){%>
        <div class="um-form-group um-form-group-address<%= formConfig.address.required ? ' um-form-group-required' : ''%>">
            <label for="umAddress"><%= formConfig.address.label %></label>
            <input type="text" name="address" class="um-form-control" id="umAddress"
                   placeholder="<%= formConfig.address.placeholder %>"
                   value="<%= typeof address !== 'undefined' ? address : '' %>"
                   <%= formConfig.address.required ? 'required' : ''%>>
        </div>
    <%}%>
    <%if(typeof formConfig.pref !== 'undefined' && formConfig.pref.show){%>
        <div class="um-form-group um-form-group-pref um-select<%= formConfig.pref.required ? ' um-form-group-required' : ''%>">
            <label for="umPref"><%= formConfig.pref.label %></label>
            <div class="um-select-wrap um-field-wrap um-static-select">
            <ul class="um-dropdown-content um-pref-list"><li><span>Мобильный</span></li><li><span>Email</span></li><li><span>Городской</span></li></ul>
            <input type="text" name="pref" class="um-form-control" id="umPref"
            placeholder="<%= formConfig.pref.placeholder %>" value="<%= pref %>"
            <%= formConfig.pref.required ? 'required' : ''%>>
            </div>
        </div>
    <%}%>
    <%if(typeof formConfig.product !== 'undefined' && formConfig.product.show){%>
        <div class="um-form-group um-form-group-product um-select<%= formConfig.product.required ? ' um-form-group-required' : ''%>">
            <label for="umProduct"><%= formConfig.product.label %></label>
            <div class="um-select-wrap um-field-wrap um-static-select">
            <ul class="um-dropdown-content um-product-list"><li><span>Кухня</span></li><li><span>иное</span></li></ul>
            <input type="text" name="product" class="um-form-control" id="umProduct"
            placeholder="<%= formConfig.product.placeholder %>" value="<%= product %>"
            <%= formConfig.product.required ? 'required' : ''%>>
            </div>
        </div>
    <%}%>
    <%if(typeof formConfig.price !== 'undefined' && formConfig.price.show){%>
        <div class="um-form-group um-form-group-price <%= formConfig.price.required ? ' um-form-group-required' : ''%>">
            <label for="umPrice"><%= formConfig.price.label %></label>
            <input type="text" name="price" class="um-form-control" id="umPrice"
            placeholder="<%= formConfig.price.placeholder %>" value="<%= price %>"
            <%= formConfig.price.required ? 'required' : ''%>>
        </div>
    <%}%>
    <%if(typeof formConfig.pay !== 'undefined' && formConfig.pay.show){%>
        <div class="um-form-group um-form-group-pay um-select<%= formConfig.pay.required ? ' um-form-group-required' : ''%>">
            <label for="umPay"><%= formConfig.pay.label %></label>
            <div class="um-select-wrap um-field-wrap um-static-select">
            <ul class="um-dropdown-content um-pay-list"><li><span>30%</span></li><li><span>30%</span></li><li><span>40%</span></li><li><span>50%</span></li><li><span>60%</span></li></ul>
            <input type="text" name="pay" class="um-form-control" id="umPay"
            placeholder="<%= formConfig.pay.placeholder %>" value="<%= pay %>"
            <%= formConfig.pay.required ? 'required' : ''%>>
            </div>
        </div>
    <%}%>
    <%if(typeof formConfig.term !== 'undefined' && formConfig.term.show){%>
        <div class="um-form-group um-form-group-term <%= formConfig.term.required ? ' um-form-group-required' : ''%>">
            <label for="umTerm"><%= formConfig.firstName.label %></label>
            <input type="text" name="term" class="um-form-control" id="umTerm"
            placeholder="<%= formConfig.term.placeholder %>" value="<%= term %>"
            <%= formConfig.term.required ? 'required' : ''%>>
        </div>
    <%}%>
    <%if(formConfig.shop.show){%>
        <div class="um-form-group um-form-group-shop um-select um-wrapper
        <%= formConfig.shop.required ? ' um-form-group-required' : ''%>
        <%= formConfig.shop.mapShow ? ' um-with-map' : ''%>
        <%= (typeof formConfig.shop.wrap !== 'undefined' && formConfig.shop.wrap) ? 'um-wrapper-hidden' : ''%>">
            <label for="umShop"><%= formConfig.shop.label %></label>
            <div class="um-select-wrap um-field-wrap<%= (typeof formConfig.shop.wrap !== 'undefined' && formConfig.shop.wrap) ? ' um-field um-hidden' : ''%>">
            <input type="text" name="shop" class="um-form-control" id="umShop"
                   placeholder="<%= formConfig.shop.placeholder %>"
                   value="<%= shop ? _.escape(shop) : '' %>"
                   <%= formConfig.shop.required ? 'required' : '' %>>
            <%if(formConfig.shop.mapShow){%>
                <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg" class="um-icon-add-location">
                    <path d="M0 0h24v24H0V0z" fill="none"/>
                    <path d="M12 2C8.14 2 5 5.14 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.86-3.14-7-7-7zm4 8h-3v3h-2v-3H8V8h3V5h2v3h3v2z"/>
                </svg>
            <%}%>
            </div>
        </div>
    <%}%>
    <%if(typeof formConfig.kitchen !== 'undefined' && formConfig.kitchen.show){%>
        <div class="um-form-group um-form-group-kitchen um-select<%= formConfig.kitchen.required ? ' um-form-group-required' : ''%>">
            <label for="umKitchen"><%= formConfig.kitchen.label %></label>
            <input type="text" name="kitchen" class="um-form-control" id="umKitchen"
                   placeholder="<%= formConfig.kitchen.placeholder %>"
                   value="<%= typeof kitchen !== 'undefined' ? kitchen : '' %>"
            <%= formConfig.kitchen.required ? 'required' : ''%>>
        </div>
    <%}%>
    <%if(formConfig.wishes.show){%>
        <div class="um-form-group um-form-group-wishes um-wrapper
        <%= (typeof formConfig.wishes.wrap !== 'undefined' && formConfig.wishes.wrap) ? 'um-wrapper-hidden' : ''%>">
            <label for="umWishes"><%= formConfig.wishes.label %></label>
            <div class="um-select-wrap um-field-wrap<%= (typeof formConfig.wishes.wrap !== 'undefined' && formConfig.wishes.wrap) ? ' um-field um-hidden' : ''%>">
            <textarea id="umWishes" type="text" name="wishes" class="um-form-control" placeholder="<%= formConfig.wishes.placeholder %>"><%= wishes %></textarea>
            </div>
        </div>
    <%}%>
    <%if(formConfig.personalData.show){%>
        <div class="um-form-group um-form-group-personal-data<%= formConfig.personalData.required ? ' um-form-group-required' : ''%>">
            <label class="um-label-checkbox <%= personalData ? ' um-checked' : ''%>">
                <input type="checkbox" name="personalData" value="<%= personalData %>"
                    <%= formConfig.personalData.required ? ' required' : ''%>
                    <%= personalData ? ' checked' : ''%>>
                <span class="um-label-text">
                    <%= formConfig.personalData.label %>
                    <%if(typeof formConfig.personalData.href !== 'undefined' && formConfig.personalData.href.show) {%>
                        <a target="_blank" href="<%= formConfig.personalData.href.pathname %>" class="um-privacy"><%= formConfig.personalData.href.text %></a>
                    <%}%>
                </span>
            </label>
        </div>
    <%}%>
</fieldset>
<button type="submit" class="um-btn um-btn-primary js-create-order"><%= formConfig.submit.text %></button>