<h2>Основные настройки</h2>
<div class="row">
    <div class="input-field col s6">
        <input id="siteUrl" name="siteUrl" type="text" class="validate" placeholder="http://yandex.ru" required>
        <label for="siteUrl" class="active">Сайт на котором будет использоваться модуль</label>
    </div>
</div>
<div class="row">
    <div class="input-field col s3">
        <select id="formType" name="formType">
            <option value="" disabled selected>Выберите опцию</option>
            <option value="calculation">Просчет</option>
            <option value="measurement">Замер</option>
            <option value="credit">Кредит</option>
        </select>
        <label for="formType">Тип заявки</label>
    </div>
    <div class="input-field col s3">
        <select id="style" name="style">
            <option value="false" disabled selected>Выберите опцию</option>
            <option value="um-default">Из настроек сайта</option>
            <option value="um-material">Material Design</option>
            <option value="um-eldorado--horizontal">Eldorado</option>
            <option value="um-edim-doma">Едим дома</option>
            <option value="um-edim-doma-old">Едим дома old</option>
        </select>
        <label for="style">Дизайн</label>
    </div>
</div>
<div class="row">
    <div class="input-field col s3">
        <select id="initType" name="initType">
            <option value="" disabled selected>Выберите опцию</option>
            <option value="button">Кнопка</option>
            <option value="form">Форма</option>
        </select>
        <label for="initType">Тип генерируемого кода</label>
    </div>
    <div class="input-field col s3">
        <select id="initPosition" name="initPosition">
            <option value="" disabled selected>Выберите опцию</option>
            <option value="fixed">Фиксированный относительно окна браузера</option>
            <option value="static">В статичном элементе</option>
        </select>
        <label for="initPosition">Начальное отображение</label>
    </div>
</div>

<div class="row">
    <div class="input-field col s6">
        <input id="class" name="class" type="text" class="validate" placeholder="um-my-class">
        <label for="class" class="active">CSS класс для модуля</label>
    </div>
</div>

<h2>Дополнительные окна</h2>

<div class="row">
    <div class="col s6">
        <p>Окно подтверждения по СМС</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="phoneVerification">
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
</div>

<button type="submit" class="btn">Сохранить</button>

<h2>HTML-код</h2>
<div class="row">
    <div class="input-field col s12">
        <textarea id="code" name="code" class="code" readonly rows="3"></textarea>
        <button type="button" class="btn btn-default btn-small btn-textarea js-copy-code" data-clipboard-target="#code">Скопировать</button>
    </div>
    <p class="error-text"><i class="material-icons">&#xE002;</i> Внимание! При внесении каких-либо изменений в этот
        код работоспособность не гарантируется!</p>
</div>
