<fieldset class="um-login">
    <%if(formConfig.header.show){%>
        <legend>
            <span class="um-title"><%= formConfig.header.value1 %></span>
            <span class="um-title-2"><%= formConfig.header.value2 %></span>
        </legend>
    <%}%>
    <%if(formConfig.surname.show || (typeof formConfig.firstName.combine !== 'undefined' && formConfig.firstName.combine)){%>
        <div class="um-form-group um-form-group-surname<%= formConfig.surname.required ? ' um-form-group-required' : ''%>">
            <label for="<%= (typeof formConfig.firstName.combine !== 'undefined' && formConfig.firstName.combine) ? 'umName' : 'umSurname'%>">
            <%= formConfig.surname.label %></label>
            <%if(typeof formConfig.firstName.combine !== 'undefined' && formConfig.firstName.combine){%>
                <input type="text" name="<%= (typeof formConfig.firstName.combine !== 'undefined' && formConfig.firstName.combine) ? 'name' : 'surname'%>"
                class="um-form-control" id="umName"
                placeholder="<%= formConfig.surname.placeholder %>"
                value="<%= surname!= '' ? surname + ' ' : '' %><%= firstName %>" <%= formConfig.surname.required ? 'required' : ''%>>
            <%}%>
            <input type="text" name="surname" class="um-form-control
            <%= (typeof formConfig.firstName.combine !== 'undefined' && formConfig.firstName.combine) ? 'um-hidden' : ''%>" id="umSurname"
            placeholder="<%= formConfig.surname.placeholder %>" value="<%= surname %>"
            <%= formConfig.surname.required ? 'required' : ''%>>
        </div>
    <%}%>
    <%if(formConfig.firstName.show || (typeof formConfig.firstName.combine !== 'undefined' && formConfig.firstName.combine)){%>
        <div class="um-form-group um-form-group-firstname
        <%= formConfig.firstName.required ? ' um-form-group-required' : ''%>
        <%= (typeof formConfig.firstName.combine !== 'undefined' && formConfig.firstName.combine) ? 'um-hidden' : ''%>">
            <label for="umFirstname"><%= formConfig.firstName.label %></label>
            <input type="text" name="firstName" class="um-form-control" id="umFirstname"
            placeholder="<%= formConfig.firstName.placeholder %>" value="<%= firstName %>"
             <%= formConfig.firstName.required ? 'required' : ''%>>
        </div>
    <%}%>
    <%if(formConfig.email.show){%>
        <div class="um-form-group um-form-group-email<%= formConfig.email.required ? ' um-form-group-required' : ''%>">
            <label for="umEmail"><%= formConfig.email.label %></label>
            <input type="email" name="email" class="um-form-control" id="umEmail" placeholder="<%= formConfig.email.placeholder %>" value="<%= email %>" <%= formConfig.email.required ? 'required' : ''%>>
        </div>
    <%}%>
    <%if(formConfig.phone.show){%>
        <div class="um-form-group um-form-group-phone um-select um-select-left<%= formConfig.phone.required ? ' um-form-group-required' : ''%>">
            <label for="umPhone"><%= formConfig.phone.label %></label>
            <div class="um-phone-wrap um-field-wrap">
            <input type="text" name="phone" class="um-form-control" id="umPhone"
            placeholder="<%= formConfig.phone.placeholder %>" value="<%= phone %>"
            <%= formConfig.phone.required ? 'required' : ''%>>
            </div>
        </div>
    <%}%>
    <%if(typeof formConfig.adphone !== 'undefined' && formConfig.adphone.show){%>
        <div class="um-form-group um-form-group-adphone<%= formConfig.adphone.required ? ' um-form-group-required' : ''%>">
            <label for="umAdphone"><%= formConfig.adphone.label %></label>
            <input type="text" name="adphone" class="um-form-control" id="umAdphone" placeholder="<%= formConfig.adphone.placeholder %>" value="<%= adphone %>" <%= formConfig.adphone.required ? 'required' : ''%>>
        </div>
    <%}%>
    <%if(formConfig.city.show){%>
        <div class="um-form-group um-form-group-city um-select<%= formConfig.city.required ? ' um-form-group-required' : ''%>">
            <label for="umCity"><%= formConfig.city.label %></label>
            <div class="um-select-wrap um-field-wrap">
            <input type="text" name="city" class="um-form-control" id="umCity"
            placeholder="<%= formConfig.city.placeholder %>" value="<%= city %>"
            <%= formConfig.city.required ? 'required' : ''%>>
            </div>
        </div>
    <%}%>
    <%if(typeof formConfig.address !== 'undefined' && formConfig.address.show){%>
        <div class="um-form-group um-form-group-address<%= formConfig.address.required ? ' um-form-group-required' : ''%>">
            <label for="umAddress"><%= formConfig.address.label %></label>
            <input type="text" name="address" class="um-form-control" id="umAddress"
                   placeholder="<%= formConfig.address.placeholder %>"
                   value="<%= typeof address !== 'undefined' ? address : '' %>"
                   <%= formConfig.address.required ? 'required' : ''%>>
        </div>
    <%}%>
    <%if(typeof formConfig.pref !== 'undefined' && formConfig.pref.show){%>
        <div class="um-form-group um-form-group-pref um-select<%= formConfig.pref.required ? ' um-form-group-required' : ''%>">
            <label for="umPref"><%= formConfig.pref.label %></label>
            <div class="um-select-wrap um-field-wrap um-static-select">
            <ul class="um-dropdown-content um-pref-list"><li><span>Мобильный</span></li><li><span>Email</span></li><li><span>Городской</span></li></ul>
            <input type="text" name="pref" class="um-form-control" id="umPref"
            placeholder="<%= formConfig.pref.placeholder %>" value="<%= pref %>"
            <%= formConfig.pref.required ? 'required' : ''%> readonly>
            </div>
        </div>
    <%}%>
    <%if(typeof formConfig.product !== 'undefined' && formConfig.product.show){%>
        <div class="um-form-group um-form-group-product um-select<%= formConfig.product.required ? ' um-form-group-required' : ''%>">
            <label for="umProduct"><%= formConfig.product.label %></label>
            <div class="um-select-wrap um-field-wrap um-static-select">
            <ul class="um-dropdown-content um-product-list"><li><span>Кухня</span></li><li><span>иное</span></li></ul>
            <input type="text" name="product" class="um-form-control" id="umProduct"
            placeholder="<%= formConfig.product.placeholder %>" value="<%= product %>"
            <%= formConfig.product.required ? 'required' : ''%> readonly>
            </div>
        </div>
    <%}%>
    <%if(typeof formConfig.description !== 'undefined' && formConfig.description.show){%>
        <div class="um-form-group um-form-group-description um-wrapper
        <%= (typeof formConfig.description.wrap !== 'undefined' && formConfig.description.wrap) ? 'um-wrapper-hidden' : ''%>">
            <label for="umDescription"><%= formConfig.description.label %></label>
            <div class="um-select-wrap um-field-wrap<%= (typeof formConfig.description.wrap !== 'undefined' && formConfig.description.wrap) ? ' um-field um-hidden' : ''%>">
            <textarea id="umDescription" type="text" name="description" class="um-form-control" placeholder="<%= formConfig.description.placeholder %>"><%= description %></textarea>
            </div>
        </div>
    <%}%>
    <%if(typeof formConfig.file !== 'undefined' && formConfig.file.show){%>
        <div class="um-form-group um-form-group-file <%= formConfig.file.required ? ' um-form-group-required' : ''%>">
            <label for="umFile"><%= formConfig.file.label %></label>
            <input type="file" name="file" class="um-form-control" id="umFile"
            placeholder="<%= formConfig.file.placeholder %>" value="<%= file %>"
            <%= formConfig.file.required ? 'required' : ''%>>
        </div>
    <%}%>
    <%if(typeof formConfig.comment !== 'undefined' && formConfig.comment.show){%>
        <div class="um-form-group um-form-group-comment um-wrapper
        <%= (typeof formConfig.comment.wrap !== 'undefined' && formConfig.comment.wrap) ? 'um-wrapper-hidden' : ''%>">
            <label for="umComment"><%= formConfig.comment.label %></label>
            <div class="um-select-wrap um-field-wrap<%= (typeof formConfig.comment.wrap !== 'undefined' && formConfig.comment.wrap) ? ' um-field um-hidden' : ''%>">
            <textarea id="umComment" type="text" name="comment" class="um-form-control" placeholder="<%= formConfig.comment.placeholder %>"><%= comment %></textarea>
            </div>
        </div>
    <%}%>
    <%if(typeof formConfig.price !== 'undefined' && formConfig.price.show){%>
        <div class="um-form-group um-form-group-price um-select<%= formConfig.price.required ? ' um-form-group-required' : ''%>">
            <label for="umPrice"><%= formConfig.price.label %></label>
            <div class="um-select-wrap um-field-wrap">
            <input type="text" name="price" class="um-form-control" id="umPrice"
            placeholder="<%= formConfig.price.placeholder %>" value="<%= price %>"
            <%= formConfig.price.required ? 'required' : ''%> readonly>
            </div>
        </div>
    <%}%>
    <%if(typeof formConfig.pay !== 'undefined' && formConfig.pay.show){%>
        <div class="um-form-group um-form-group-pay um-select<%= formConfig.pay.required ? ' um-form-group-required' : ''%>">
            <label for="umPay"><%= formConfig.pay.label %></label>
            <div class="um-select-wrap um-field-wrap um-static-select">
            <ul class="um-dropdown-content um-pay-list"><li><span>30%</span></li><li><span>40%</span></li><li><span>50%</span></li><li><span>60%</span></li></ul>
            <input type="text" name="pay" class="um-form-control" id="umPay"
            placeholder="<%= formConfig.pay.placeholder %>" value="<%= pay %>"
            <%= formConfig.pay.required ? 'required' : ''%> readonly>
            </div>
        </div>
    <%}%>
    <%if(typeof formConfig.term !== 'undefined' && formConfig.term.show){%>
        <div class="um-form-group um-form-group-term <%= formConfig.term.required ? ' um-form-group-required' : ''%>">
            <label for="umTerm"><%= formConfig.term.label %></label>
            <input type="number" name="term" class="um-form-control" id="umTerm"
            placeholder="<%= formConfig.term.placeholder %>" value="<%= term %>"
            <%= formConfig.term.required ? 'required' : ''%>>
        </div>
    <%}%>
    <%if(formConfig.shop.show){%>
        <div class="um-form-group um-form-group-shop um-select um-wrapper
        <%= formConfig.shop.required ? ' um-form-group-required' : ''%>
        <%= formConfig.shop.mapShow ? ' um-with-map' : ''%>
        <%= (typeof formConfig.shop.wrap !== 'undefined' && formConfig.shop.wrap) ? 'um-wrapper-hidden' : ''%>">
            <label for="umShop"><%= formConfig.shop.label %></label>
            <div class="um-select-wrap um-field-wrap<%= (typeof formConfig.shop.wrap !== 'undefined' && formConfig.shop.wrap) ? ' um-field um-hidden' : ''%>">
            <input type="text" name="shop" class="um-form-control" id="umShop"
                   placeholder="<%= formConfig.shop.placeholder %>"
                   value="<%= shop ? _.escape(shop) : '' %>"
                   <%= formConfig.shop.required ? 'required' : '' %> readonly>
            <%if(formConfig.shop.mapShow){%>
                <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg" class="um-icon-add-location">
                    <path d="M0 0h24v24H0V0z" fill="none"/>
                    <path d="M12 2C8.14 2 5 5.14 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.86-3.14-7-7-7zm4 8h-3v3h-2v-3H8V8h3V5h2v3h3v2z"/>
                </svg>
            <%}%>
            </div>
        </div>
    <%}%>
    <%if(typeof formConfig.kitchen !== 'undefined' && formConfig.kitchen.show){%>
        <div class="um-form-group um-form-group-kitchen um-select<%= formConfig.kitchen.required ? ' um-form-group-required' : ''%>">
            <label for="umKitchen"><%= formConfig.kitchen.label %></label>
            <div class="um-select-wrap um-field-wrap">
            <input type="text" name="kitchen" class="um-form-control" id="umKitchen"
                   placeholder="<%= formConfig.kitchen.placeholder %>"
                   value="<%= typeof kitchen !== 'undefined' ? kitchen : '' %>"
            <%= formConfig.kitchen.required ? 'required' : ''%> readonly>
            </div>
        </div>
    <%}%>
    <%if(typeof formConfig.color !== 'undefined' && formConfig.color.show){%>
        <div class="um-form-group um-form-group-color um-select<%= formConfig.color.required ? ' um-form-group-required' : ''%>">
            <label for="umColor"><%= formConfig.color.label %></label>
            <div class="um-select-wrap um-field-wrap">
            <input type="text" name="color" class="um-form-control" id="umColor"
                   placeholder="<%= formConfig.color.placeholder %>"
                   value="<%= typeof color !== 'undefined' ? color : '' %>"
            <%= formConfig.color.required ? 'required' : ''%> readonly>
            </div>
        </div>
    <%}%>
    <%if(formConfig.wishes.show){%>
        <div class="um-form-group um-form-group-wishes um-wrapper
        <%= (typeof formConfig.wishes.wrap !== 'undefined' && formConfig.wishes.wrap) ? 'um-wrapper-hidden' : ''%>">
            <label for="umWishes"><%= formConfig.wishes.label %></label>
            <div class="um-select-wrap um-field-wrap<%= (typeof formConfig.wishes.wrap !== 'undefined' && formConfig.wishes.wrap) ? ' um-field um-hidden' : ''%>">
            <textarea id="umWishes" type="text" name="wishes" class="um-form-control" placeholder="<%= formConfig.wishes.placeholder %>"><%= wishes %></textarea>
            </div>
        </div>
    <%}%>
    <%if(typeof formConfig.room !== 'undefined' && formConfig.room.show){%>
        <div class="um-form-group um-form-group-room um-select<%= formConfig.room.required ? ' um-form-group-required' : ''%>">
            <label for="umRoom"><%= formConfig.room.label %></label>
            <div class="um-select-wrap um-field-wrap">
            <input type="text" name="room" class="um-form-control" id="umRoom"
            placeholder="<%= formConfig.room.placeholder %>" value="<%= room %>"
            <%= formConfig.room.required ? 'required' : ''%> readonly>
            </div>
        </div>
    <%}%>
    <%if(typeof formConfig.worktype !== 'undefined' && formConfig.worktype.show){%>
        <div class="um-form-group um-form-group-worktype um-select<%= formConfig.worktype.required ? ' um-form-group-required' : ''%>">
            <label for="umWorktype"><%= formConfig.worktype.label %></label>
            <div class="um-select-wrap um-field-wrap">
            <input type="text" name="worktype" class="um-form-control" id="umWorktype"
            placeholder="<%= formConfig.worktype.placeholder %>" value="<%= worktype %>"
            <%= formConfig.worktype.required ? 'required' : ''%> readonly>
            </div>
        </div>
    <%}%>
    <%if(typeof formConfig.design !== 'undefined' && formConfig.design.show){%>
        <div class="um-form-group um-form-group-design um-select<%= formConfig.design.required ? ' um-form-group-required' : ''%>">
            <label for="umDesign"><%= formConfig.design.label %></label>
            <div class="um-select-wrap um-field-wrap">
            <input type="text" name="design" class="um-form-control" id="umDesign"
            placeholder="<%= formConfig.design.placeholder %>" value="<%= design %>"
            <%= formConfig.design.required ? 'required' : ''%> readonly>
            </div>
        </div>
    <%}%>
    <%if(typeof formConfig.walls !== 'undefined' && formConfig.walls.show){%>
        <div class="um-form-group um-form-group-walls um-select<%= formConfig.walls.required ? ' um-form-group-required' : ''%>">
            <label for="umWalls"><%= formConfig.walls.label %></label>
            <div class="um-select-wrap um-field-wrap">
            <input type="text" name="walls" class="um-form-control" id="umWalls"
            placeholder="<%= formConfig.walls.placeholder %>" value="<%= walls %>"
            <%= formConfig.walls.required ? 'required' : ''%> readonly>
            </div>
        </div>
    <%}%>
    <%if(typeof formConfig.floorHeader !== 'undefined' && formConfig.floorHeader.show){%>
        <div class="um-pre-header">
            <span class="um-title-2"><%= formConfig.floorHeader.value1 %></span>
        </div>
    <%}%>
    <%if(typeof formConfig.floorColor !== 'undefined' && formConfig.floorColor.show){%>
        <div class="um-form-group um-form-group-floorColor <%= formConfig.floorColor.required ? ' um-form-group-required' : ''%>">
            <label for="umFloorColor"><%= formConfig.floorColor.label %></label>
            <input type="text" name="floorColor" class="um-form-control" id="umFloorColor"
            placeholder="<%= formConfig.floorColor.placeholder %>" value="<%= floorColor %>"
            <%= formConfig.floorColor.required ? 'required' : ''%>>
        </div>
    <%}%>
    <%if(typeof formConfig.floorType !== 'undefined' && formConfig.floorType.show){%>
        <div class="um-form-group um-form-group-floorType um-select<%= formConfig.floorType.required ? ' um-form-group-required' : ''%>">
            <label for="umFloorType"><%= formConfig.floorType.label %></label>
            <div class="um-select-wrap um-field-wrap">
            <input type="text" name="floorType" class="um-form-control" id="umFloorTyper"
            placeholder="<%= formConfig.floorType.placeholder %>" value="<%= floorType %>"
            <%= formConfig.floorType.required ? 'required' : ''%>>
            </div>
        </div>
    <%}%>
    <%if(typeof formConfig.floorChange !== 'undefined' && formConfig.floorChange.show){%>
        <div class="um-form-group um-form-group-floorChange<%= formConfig.floorChange.required ? ' um-form-group-required' : ''%>">
            <label class="um-label-checkbox <%= floorChange ? ' um-checked' : ''%>">
                <input type="checkbox" name="floorChange" value="<%= floorChange %>"
                    <%= formConfig.floorChange.required ? ' required' : ''%>
                    <%= floorChange ? ' checked' : ''%>>
                <span class="um-label-text">
                    <%= formConfig.floorChange.label %>
                </span>
            </label>
        </div>
    <%}%>
    <%if(typeof formConfig.ceilingHeader !== 'undefined' && formConfig.ceilingHeader.show){%>
        <div class="um-pre-header">
            <span class="um-title-2"><%= formConfig.ceilingHeader.value1 %></span>
        </div>
    <%}%>
    <%if(typeof formConfig.ceilingHeight !== 'undefined' && formConfig.ceilingHeight.show){%>
        <div class="um-form-group um-form-group-ceilingHeight <%= formConfig.ceilingHeight.required ? ' um-form-group-required' : ''%>">
            <label for="umCeilingHeight"><%= formConfig.ceilingHeight.label %></label>
            <input type="text" name="ceilingHeight" class="um-form-control" id="umCeilingHeight"
            placeholder="<%= formConfig.ceilingHeight.placeholder %>" value="<%= ceilingHeight %>"
            <%= formConfig.ceilingHeight.required ? 'required' : ''%>>
        </div>
    <%}%>
    <%if(typeof formConfig.ceilingChange !== 'undefined' && formConfig.ceilingChange.show){%>
        <div class="um-form-group um-form-group-ceilingChange<%= formConfig.ceilingChange.required ? ' um-form-group-required' : ''%>">
            <label class="um-label-checkbox <%= ceilingChange ? ' um-checked' : ''%>">
                <input type="checkbox" name="ceilingChange" value="<%= ceilingChange %>"
                    <%= formConfig.ceilingChange.required ? ' required' : ''%>
                    <%= ceilingChange ? ' checked' : ''%>>
                <span class="um-label-text">
                    <%= formConfig.ceilingChange.label %>
                </span>
            </label>
        </div>
    <%}%>
    <%if(typeof formConfig.styleHeader !== 'undefined' && formConfig.styleHeader.show){%>
        <div class="um-pre-header">
            <span class="um-title-2"><%= formConfig.styleHeader.value1 %></span>
        </div>
    <%}%>
    <%if(typeof formConfig.position !== 'undefined' && formConfig.position.show){%>
        <div class="um-form-group um-form-group-position um-select<%= formConfig.position.required ? ' um-form-group-required' : ''%>">
            <label for="umPosition"><%= formConfig.position.label %></label>
            <div class="um-select-wrap um-field-wrap">
            <input type="text" name="position" class="um-form-control" id="umPosition"
            placeholder="<%= formConfig.position.placeholder %>" value="<%= position %>"
            <%= formConfig.position.required ? 'required' : ''%> readonly>
            </div>
        </div>
    <%}%>
    <%if(typeof formConfig.addPlace !== 'undefined' && formConfig.addPlace.show){%>
        <div class="um-form-group um-form-group-addPlace um-select<%= formConfig.addPlace.required ? ' um-form-group-required' : ''%>">
            <label for="umAddPlace"><%= formConfig.addPlace.label %></label>
            <div class="um-select-wrap um-field-wrap">
            <input type="text" name="addPlace" class="um-form-control" id="umAddPlace"
            placeholder="<%= formConfig.addPlace.placeholder %>" value="<%= addPlace %>"
            <%= formConfig.addPlace.required ? 'required' : ''%> readonly>
            </div>
        </div>
    <%}%>
    <%if(typeof formConfig.kitchenHeader !== 'undefined' && formConfig.kitchenHeader.show){%>
        <div class="um-pre-header">
            <span class="um-title-2"><%= formConfig.kitchenHeader.value1 %></span>
        </div>
    <%}%>
    <%if(typeof formConfig.kitchenStyle !== 'undefined' && formConfig.kitchenStyle.show){%>
        <div class="um-form-group um-form-group-kitchenStyle um-select<%= formConfig.kitchenStyle.required ? ' um-form-group-required' : ''%>">
            <label for="umKitchenStyle"><%= formConfig.kitchenStyle.label %></label>
            <div class="um-select-wrap um-field-wrap">
            <input type="text" name="kitchenStyle" class="um-form-control" id="umKitchenStyle"
            placeholder="<%= formConfig.kitchenStyle.placeholder %>" value="<%= kitchenStyle %>"
            <%= formConfig.kitchenStyle.required ? 'required' : ''%> readonly>
            </div>
        </div>
    <%}%>
    <%if(typeof formConfig.upperSection !== 'undefined' && formConfig.upperSection.show){%>
        <div class="um-form-group um-form-group-upperSection um-select<%= formConfig.upperSection.required ? ' um-form-group-required' : ''%>">
            <label for="umUpperSection"><%= formConfig.upperSection.label %></label>
            <div class="um-select-wrap um-field-wrap">
            <input type="text" name="upperSection" class="um-form-control" id="umUpperSection"
            placeholder="<%= formConfig.upperSection.placeholder %>" value="<%= upperSection %>"
            <%= formConfig.upperSection.required ? 'required' : ''%> readonly>
            </div>
        </div>
    <%}%>
    <%if(typeof formConfig.lowerSection !== 'undefined' && formConfig.lowerSection.show){%>
        <div class="um-form-group um-form-group-lowerSection um-select<%= formConfig.lowerSection.required ? ' um-form-group-required' : ''%>">
            <label for="umLowerSection"><%= formConfig.lowerSection.label %></label>
            <div class="um-select-wrap um-field-wrap">
            <input type="text" name="lowerSection" class="um-form-control" id="umLowerSection"
            placeholder="<%= formConfig.lowerSection.placeholder %>" value="<%= lowerSection %>"
            <%= formConfig.lowerSection.required ? 'required' : ''%> readonly>
            </div>
        </div>
    <%}%>
    <%if(typeof formConfig.ColorHeader !== 'undefined' && formConfig.ColorHeader.show){%>
        <div class="um-pre-header">
            <span class="um-title-2"><%= formConfig.ColorHeader.value1 %></span>
        </div>
    <%}%>
    <%if(typeof formConfig.upperSectionColor !== 'undefined' && formConfig.upperSectionColor.show){%>
        <div class="um-form-group um-form-group-upperSectionColor <%= formConfig.upperSectionColor.required ? ' um-form-group-required' : ''%>">
            <label for="umUpperSectionColor"><%= formConfig.upperSectionColor.label %></label>
            <input type="text" name="upperSectionColor" class="um-form-control" id="umUpperSectionColor"
            placeholder="<%= formConfig.upperSectionColor.placeholder %>" value="<%= upperSectionColor %>"
            <%= formConfig.upperSectionColor.required ? 'required' : ''%>>
        </div>
    <%}%>
    <%if(typeof formConfig.lowerSectionColor !== 'undefined' && formConfig.lowerSectionColor.show){%>
        <div class="um-form-group um-form-group-lowerSectionColor <%= formConfig.lowerSectionColor.required ? ' um-form-group-required' : ''%>">
            <label for="umLowerSectionColor"><%= formConfig.lowerSectionColor.label %></label>
            <input type="text" name="lowerSectionColor" class="um-form-control" id="umLowerSectionColor"
            placeholder="<%= formConfig.lowerSectionColor.placeholder %>" value="<%= lowerSectionColor %>"
            <%= formConfig.lowerSectionColor.required ? 'required' : ''%>>
        </div>
    <%}%>
    <%if(typeof formConfig.combineWishes !== 'undefined' && formConfig.combineWishes.show){%>
        <div class="um-form-group um-form-group-combineWishes um-wrapper
        <%= (typeof formConfig.wishes.wrap !== 'undefined' && formConfig.combineWishes.wrap) ? 'um-wrapper-hidden' : ''%>">
            <label for="umCombineWishes"><%= formConfig.combineWishes.label %></label>
            <div class="um-select-wrap um-field-wrap<%= (typeof formConfig.combineWishes.wrap !== 'undefined' && formConfig.combineWishes.wrap) ? ' um-field um-hidden' : ''%>">
            <textarea id="umCombineWishes" type="text" name="combineWishes" class="um-form-control" placeholder="<%= formConfig.combineWishes.placeholder %>"><%= combineWishes %></textarea>
            </div>
        </div>
    <%}%>
    <%if(typeof formConfig.diningGroup !== 'undefined' && formConfig.diningGroup.show){%>
        <div class="um-pre-header">
            <span class="um-title-2"><%= formConfig.diningGroup.value1 %></span>
        </div>
    <%}%>
    <%if(typeof formConfig.diningGroup !== 'undefined' && formConfig.diningGroup.show){%>
        <div class="um-form-group um-form-group-diningGroup um-select<%= formConfig.diningGroup.required ? ' um-form-group-required' : ''%>">
            <label for="umDiningGroup"><%= formConfig.diningGroup.label %></label>
            <div class="um-select-wrap um-field-wrap">
            <input type="text" name="diningGroup" class="um-form-control" id="umDiningGroup"
            placeholder="<%= formConfig.diningGroup.placeholder %>" value="<%= diningGroup %>"
            <%= formConfig.diningGroup.required ? 'required' : ''%> readonly>
            </div>
        </div>
    <%}%>
    <%if(typeof formConfig.diningGroupLength !== 'undefined' && formConfig.diningGroupLength.show){%>
        <div class="um-form-group um-form-group-diningGroupLength <%= formConfig.diningGroupLength.required ? ' um-form-group-required' : ''%>">
            <label for="umDiningGroupLength"><%= formConfig.diningGroupLength.label %></label>
            <input type="text" name="diningGroupLength" class="um-form-control" id="umDiningGroupLength"
            placeholder="<%= formConfig.diningGroupLength.placeholder %>" value="<%= diningGroup %>"
            <%= formConfig.diningGroupLength.required ? 'required' : ''%>>
        </div>
    <%}%>
    <%if(typeof formConfig.diningGroupWidth !== 'undefined' && formConfig.diningGroupWidth.show){%>
        <div class="um-form-group um-form-group-diningGroupWidth <%= formConfig.diningGroupWidth.required ? ' um-form-group-required' : ''%>">
            <label for="umDiningGroupWidth"><%= formConfig.diningGroupWidth.label %></label>
            <input type="text" name="diningGroupWidth" class="um-form-control" id="umDiningGroupWidth"
            placeholder="<%= formConfig.diningGroupWidth.placeholder %>" value="<%= diningGroup %>"
            <%= formConfig.diningGroupWidth.required ? 'required' : ''%>>
        </div>
    <%}%>
    <%if(typeof formConfig.diningGroupHeight !== 'undefined' && formConfig.diningGroupHeight.show){%>
        <div class="um-form-group um-form-group-diningGroupHeight <%= formConfig.diningGroupHeight.required ? ' um-form-group-required' : ''%>">
            <label for="umDiningGroupHeight"><%= formConfig.diningGroupHeight.label %></label>
            <input type="text" name="diningGroupHeight" class="um-form-control" id="umDiningGroupHeight"
            placeholder="<%= formConfig.diningGroupHeight.placeholder %>" value="<%= diningGroup %>"
            <%= formConfig.diningGroupHeight.required ? 'required' : ''%>>
        </div>
    <%}%>
    <%if(typeof formConfig.chairs !== 'undefined' && formConfig.chairs.show){%>
        <div class="um-form-group um-form-group-chairs <%= formConfig.chairs.required ? ' um-form-group-required' : ''%>">
            <label for="umChairs"><%= formConfig.chairs.label %></label>
            <input type="text" name="chairs" class="um-form-control" id="umChairs"
            placeholder="<%= formConfig.chairs.placeholder %>" value="<%= diningGroup %>"
            <%= formConfig.chairs.required ? 'required' : ''%>>
        </div>
    <%}%>
    <%if(typeof formConfig.diningGroupMaterial !== 'undefined' && formConfig.diningGroupMaterial.show){%>
        <div class="um-form-group um-form-group-diningGroupMaterial <%= formConfig.diningGroupMaterial.required ? ' um-form-group-required' : ''%>">
            <label for="umDiningGroupMaterial"><%= formConfig.diningGroupMaterial.label %></label>
            <input type="text" name="diningGroupMaterial" class="um-form-control" id="umDiningGroupMaterial"
            placeholder="<%= formConfig.diningGroupMaterial.placeholder %>" value="<%= diningGroup %>"
            <%= formConfig.diningGroupMaterial.required ? 'required' : ''%>>
        </div>
    <%}%>
    <%if(typeof formConfig.diningGroupStyle !== 'undefined' && formConfig.diningGroupStyle.show){%>
        <div class="um-form-group um-form-group-diningGroupStyle <%= formConfig.diningGroupStyle.required ? ' um-form-group-required' : ''%>">
            <label for="umDiningGroupStyle"><%= formConfig.diningGroupStyle.label %></label>
            <input type="text" name="diningGroupStyle" class="um-form-control" id="umDiningGroupStyle"
            placeholder="<%= formConfig.diningGroupStyle.placeholder %>" value="<%= diningGroup %>"
            <%= formConfig.diningGroupStyle.required ? 'required' : ''%>>
        </div>
    <%}%>
    <%if(typeof formConfig.diningGroupColor !== 'undefined' && formConfig.diningGroupColor.show){%>
        <div class="um-form-group um-form-group-diningGroupColor <%= formConfig.diningGroupColor.required ? ' um-form-group-required' : ''%>">
            <label for="umDiningGroupColor"><%= formConfig.diningGroupColor.label %></label>
            <input type="text" name="diningGroupColor" class="um-form-control" id="umDiningGroupColor"
            placeholder="<%= formConfig.diningGroupColor.placeholder %>" value="<%= diningGroup %>"
            <%= formConfig.diningGroupColor.required ? 'required' : ''%>>
        </div>
    <%}%>
    <%if(typeof formConfig.diningGroupExt !== 'undefined' && formConfig.diningGroupExt.show){%>
        <div class="um-form-group um-form-group-diningGroupExt um-wrapper
        <%= (typeof formConfig.diningGroupExt.wrap !== 'undefined' && formConfig.diningGroupExt.wrap) ? 'um-wrapper-hidden' : ''%>">
            <label for="umDiningGroupExt"><%= formConfig.diningGroupExt.label %></label>
            <div class="um-select-wrap um-field-wrap<%= (typeof formConfig.diningGroupExt.wrap !== 'undefined' && formConfig.diningGroupExt.wrap) ? ' um-field um-hidden' : ''%>">
            <textarea id="umDiningGroupExt" type="text" name="diningGroupExt" class="um-form-control" placeholder="<%= formConfig.diningGroupExt.placeholder %>"><%= diningGroupExt %></textarea>
            </div>
        </div>
    <%}%>
    <%if(typeof formConfig.tabletopHeader !== 'undefined' && formConfig.tabletopHeader.show){%>
        <div class="um-pre-header">
            <span class="um-title-2"><%= formConfig.tabletopHeader.value1 %></span>
        </div>
    <%}%>
    <%if(typeof formConfig.tabletopMaterial !== 'undefined' && formConfig.tabletopMaterial.show){%>
        <div class="um-form-group um-form-group-tabletopMaterial um-select<%= formConfig.tabletopMaterial.required ? ' um-form-group-required' : ''%>">
            <label for="umTabletopMaterial"><%= formConfig.tabletopMaterial.label %></label>
            <div class="um-select-wrap um-field-wrap">
            <input type="text" name="tabletopMaterial" class="um-form-control" id="umTabletopMaterial"
            placeholder="<%= formConfig.tabletopMaterial.placeholder %>" value="<%= diningGroup %>"
            <%= formConfig.tabletopMaterial.required ? 'required' : ''%> readonly>
            </div>
        </div>
    <%}%>
    <%if(typeof formConfig.tabletopExt !== 'undefined' && formConfig.tabletopExt.show){%>
        <div class="um-form-group um-form-group-tabletopExt um-wrapper
        <%= (typeof formConfig.tabletopExt.wrap !== 'undefined' && formConfig.tabletopExt.wrap) ? 'um-wrapper-hidden' : ''%>">
            <label for="umTabletopExt"><%= formConfig.tabletopExt.label %></label>
            <div class="um-select-wrap um-field-wrap<%= (typeof formConfig.tabletopExt.wrap !== 'undefined' && formConfig.tabletopExt.wrap) ? ' um-field um-hidden' : ''%>">
            <textarea id="umTabletopExt" type="text" name="tabletopExt" class="um-form-control" placeholder="<%= formConfig.tabletopExt.placeholder %>"><%= tabletopExt %></textarea>
            </div>
        </div>
    <%}%>
    <%if(typeof formConfig.washingHeader !== 'undefined' && formConfig.washingHeader.show){%>
        <div class="um-pre-header">
            <span class="um-title-2"><%= formConfig.washingHeader.value1 %></span>
        </div>
    <%}%>
    <%if(typeof formConfig.washingType !== 'undefined' && formConfig.washingType.show){%>
        <div class="um-form-group um-form-group-washingType um-select<%= formConfig.washingType.required ? ' um-form-group-required' : ''%>">
            <label for="umWashingType"><%= formConfig.washingType.label %></label>
            <div class="um-select-wrap um-field-wrap">
            <input type="text" name="washingType" class="um-form-control" id="umWashingType"
            placeholder="<%= formConfig.washingType.placeholder %>" value="<%= diningGroup %>"
            <%= formConfig.washingType.required ? 'required' : ''%>>
            </div>
        </div>
    <%}%>
    <%if(formConfig.washingExt.show){%>
        <div class="um-form-group um-form-group-washingExt<%= formConfig.washingExt.required ? ' um-form-group-required' : ''%>">
            <label for="umWashingExt"><%= formConfig.washingExt.label %></label>
            <input type="text" name="washingExt" class="um-form-control" id="umWashingExt" placeholder="<%= formConfig.washingExt.placeholder %>" value="<%= washingExt %>" <%= formConfig.washingExt.required ? 'required' : ''%>>
        </div>
    <%}%>
    <%if(typeof formConfig.techHeader !== 'undefined' && formConfig.techHeader.show){%>
        <div class="um-pre-header">
            <span class="um-title-2"><%= formConfig.techHeader.value1 %></span>
        </div>
    <%}%>
    <%if(typeof formConfig.fridge !== 'undefined' && formConfig.fridge.show){%>
        <div class="um-form-group um-form-group-fridge <%= formConfig.fridge.required ? ' um-form-group-required' : ''%>">
            <label for="umFridge"><%= formConfig.fridge.label %></label>
            <input type="text" name="fridge" class="um-form-control" id="umFridge"
            placeholder="<%= formConfig.fridge.placeholder %>" value="<%= diningGroup %>"
            <%= formConfig.fridge.required ? 'required' : ''%>>
        </div>
    <%}%>
    <%if(typeof formConfig.inFridge !== 'undefined' && formConfig.inFridge.show){%>
        <div class="um-form-group um-form-group-inFridge <%= formConfig.inFridge.required ? ' um-form-group-required' : ''%>">
            <label for="umInFridge"><%= formConfig.inFridge.label %></label>
            <input type="text" name="inFridge" class="um-form-control" id="umInFridge"
            placeholder="<%= formConfig.inFridge.placeholder %>" value="<%= diningGroup %>"
            <%= formConfig.inFridge.required ? 'required' : ''%>>
        </div>
    <%}%>
    <%if(typeof formConfig.fridgeExt !== 'undefined' && formConfig.fridgeExt.show){%>
        <div class="um-form-group um-form-group-fridgeExt <%= formConfig.fridgeExt.required ? ' um-form-group-required' : ''%>">
            <label for="umFridgeExt"><%= formConfig.fridgeExt.label %></label>
            <input type="text" name="fridgeExt" class="um-form-control" id="umFridgeExt"
            placeholder="<%= formConfig.fridgeExt.placeholder %>" value="<%= diningGroup %>"
            <%= formConfig.fridgeExt.required ? 'required' : ''%>>
        </div>
    <%}%>
    <%if(typeof formConfig.deepFreeze !== 'undefined' && formConfig.deepFreeze.show){%>
        <div class="um-form-group um-form-group-deepFreeze <%= formConfig.deepFreeze.required ? ' um-form-group-required' : ''%>">
            <label for="umDeepFreeze"><%= formConfig.deepFreeze.label %></label>
            <input type="text" name="deepFreeze" class="um-form-control" id="umDeepFreeze"
            placeholder="<%= formConfig.deepFreeze.placeholder %>" value="<%= diningGroup %>"
            <%= formConfig.deepFreeze.required ? 'required' : ''%>>
        </div>
    <%}%>
    <%if(typeof formConfig.inDeepFreeze !== 'undefined' && formConfig.inDeepFreeze.show){%>
        <div class="um-form-group um-form-group-inDeepFreeze <%= formConfig.inDeepFreeze.required ? ' um-form-group-required' : ''%>">
            <label for="umInDeepFreeze"><%= formConfig.inDeepFreeze.label %></label>
            <input type="text" name="inDeepFreeze" class="um-form-control" id="umInDeepFreeze"
            placeholder="<%= formConfig.inDeepFreeze.placeholder %>" value="<%= diningGroup %>"
            <%= formConfig.inDeepFreeze.required ? 'required' : ''%>>
        </div>
    <%}%>
    <%if(typeof formConfig.deepFreezeExt !== 'undefined' && formConfig.deepFreezeExt.show){%>
        <div class="um-form-group um-form-group-deepFreezeExt <%= formConfig.deepFreezeExt.required ? ' um-form-group-required' : ''%>">
            <label for="umDeepFreezeExt"><%= formConfig.deepFreezeExt.label %></label>
            <input type="text" name="deepFreezeExt" class="um-form-control" id="umDeepFreezeExt"
            placeholder="<%= formConfig.deepFreezeExt.placeholder %>" value="<%= diningGroup %>"
            <%= formConfig.deepFreezeExt.required ? 'required' : ''%>>
        </div>
    <%}%>
    <%if(typeof formConfig.dishwasher !== 'undefined' && formConfig.dishwasher.show){%>
        <div class="um-form-group um-form-group-dishwasher <%= formConfig.dishwasher.required ? ' um-form-group-required' : ''%>">
            <label for="umDishwasher"><%= formConfig.dishwasher.label %></label>
            <input type="text" name="dishwasher" class="um-form-control" id="umDishwasher"
            placeholder="<%= formConfig.dishwasher.placeholder %>" value="<%= diningGroup %>"
            <%= formConfig.dishwasher.required ? 'required' : ''%>>
        </div>
    <%}%>
    <%if(typeof formConfig.inDishwasher !== 'undefined' && formConfig.inDishwasher.show){%>
        <div class="um-form-group um-form-group-inDishwasher <%= formConfig.inDishwasher.required ? ' um-form-group-required' : ''%>">
            <label for="umInDishwasher"><%= formConfig.inDishwasher.label %></label>
            <input type="text" name="inDishwasher" class="um-form-control" id="umIbDishwasher"
            placeholder="<%= formConfig.inDishwasher.placeholder %>" value="<%= diningGroup %>"
            <%= formConfig.inDishwasher.required ? 'required' : ''%>>
        </div>
    <%}%>
    <%if(typeof formConfig.dishwasherExt !== 'undefined' && formConfig.dishwasherExt.show){%>
        <div class="um-form-group um-form-group-dishwasherExt <%= formConfig.dishwasherExt.required ? ' um-form-group-required' : ''%>">
            <label for="umDishwasherExt"><%= formConfig.dishwasherExt.label %></label>
            <input type="text" name="dishwasherExt" class="um-form-control" id="umDishwasherExt"
            placeholder="<%= formConfig.dishwasherExt.placeholder %>" value="<%= diningGroup %>"
            <%= formConfig.dishwasherExt.required ? 'required' : ''%>>
        </div>
    <%}%>
    <%if(typeof formConfig.washer !== 'undefined' && formConfig.washer.show){%>
        <div class="um-form-group um-form-group-washer <%= formConfig.washer.required ? ' um-form-group-required' : ''%>">
            <label for="umWasher"><%= formConfig.washer.label %></label>
            <input type="text" name="washer" class="um-form-control" id="umWasher"
            placeholder="<%= formConfig.washer.placeholder %>" value="<%= diningGroup %>"
            <%= formConfig.washer.required ? 'required' : ''%>>
        </div>
    <%}%>
    <%if(typeof formConfig.inWasher !== 'undefined' && formConfig.inWasher.show){%>
        <div class="um-form-group um-form-group-inWasher <%= formConfig.inWasher.required ? ' um-form-group-required' : ''%>">
            <label for="umInWasher"><%= formConfig.inWasher.label %></label>
            <input type="text" name="inWasher" class="um-form-control" id="umInWasher"
            placeholder="<%= formConfig.inWasher.placeholder %>" value="<%= diningGroup %>"
            <%= formConfig.inWasher.required ? 'required' : ''%>>
        </div>
    <%}%>
    <%if(typeof formConfig.washerExt !== 'undefined' && formConfig.washerExt.show){%>
        <div class="um-form-group um-form-group-washerExt <%= formConfig.washerExt.required ? ' um-form-group-required' : ''%>">
            <label for="umWasherExt"><%= formConfig.washerExt.label %></label>
            <input type="text" name="washerExt" class="um-form-control" id="umWasherExt"
            placeholder="<%= formConfig.washerExt.placeholder %>" value="<%= diningGroup %>"
            <%= formConfig.washerExt.required ? 'required' : ''%>>
        </div>
    <%}%>
    <%if(typeof formConfig.stoveNumber !== 'undefined' && formConfig.stoveNumber.show){%>
        <div class="um-form-group um-form-group-stoveNumber <%= formConfig.stoveNumber.required ? ' um-form-group-required' : ''%>">
            <label for="umStoveNumber"><%= formConfig.stoveNumber.label %></label>
            <input type="text" name="stoveNumber" class="um-form-control" id="umStoveNumber"
            placeholder="<%= formConfig.stoveNumber.placeholder %>" value="<%= diningGroup %>"
            <%= formConfig.stoveNumber.required ? 'required' : ''%>>
        </div>
    <%}%>
    <%if(typeof formConfig.inMicrowaveNumber !== 'undefined' && formConfig.inMicrowaveNumber.show){%>
        <div class="um-form-group um-form-group-inMicrowaveNumber <%= formConfig.inMicrowaveNumber.required ? ' um-form-group-required' : ''%>">
            <label for="umInMicrowaveNumber"><%= formConfig.inMicrowaveNumber.label %></label>
            <input type="text" name="inMicrowaveNumber" class="um-form-control" id="umInMicrowaveNumber"
            placeholder="<%= formConfig.inMicrowaveNumber.placeholder %>" value="<%= diningGroup %>"
            <%= formConfig.inMicrowaveNumber.required ? 'required' : ''%>>
        </div>
    <%}%>
    <%if(typeof formConfig.freeMicrowaveNumber !== 'undefined' && formConfig.freeMicrowaveNumber.show){%>
        <div class="um-form-group um-form-group-freeMicrowaveNumber <%= formConfig.freeMicrowaveNumber.required ? ' um-form-group-required' : ''%>">
            <label for="umFreeMicrowaveNumber"><%= formConfig.freeMicrowaveNumber.label %></label>
            <input type="text" name="freeMicrowaveNumber" class="um-form-control" id="umFreeMicrowaveNumber"
            placeholder="<%= formConfig.freeMicrowaveNumber.placeholder %>" value="<%= diningGroup %>"
            <%= formConfig.freeMicrowaveNumber.required ? 'required' : ''%>>
        </div>
    <%}%>
    <%if(typeof formConfig.oven !== 'undefined' && formConfig.oven.show){%>
        <div class="um-form-group um-form-group-oven <%= formConfig.oven.required ? ' um-form-group-required' : ''%>">
            <label for="umOven"><%= formConfig.oven.label %></label>
            <input type="text" name="oven" class="um-form-control" id="umOven"
            placeholder="<%= formConfig.oven.placeholder %>" value="<%= diningGroup %>"
            <%= formConfig.oven.required ? 'required' : ''%>>
        </div>
    <%}%>
    <%if(typeof formConfig.hob !== 'undefined' && formConfig.hob.show){%>
        <div class="um-form-group um-form-group-hob <%= formConfig.hob.required ? ' um-form-group-required' : ''%>">
            <label for="umHob"><%= formConfig.hob.label %></label>
            <input type="text" name="hob" class="um-form-control" id="umHob"
            placeholder="<%= formConfig.hob.placeholder %>" value="<%= diningGroup %>"
            <%= formConfig.hob.required ? 'required' : ''%>>
        </div>
    <%}%>
    <%if(typeof formConfig.stoveStyle !== 'undefined' && formConfig.stoveStyle.show){%>
        <div class="um-form-group um-form-group-stoveStyle um-select<%= formConfig.stoveStyle.required ? ' um-form-group-required' : ''%>">
            <label for="umStoveStyle"><%= formConfig.stoveStyle.label %></label>
            <div class="um-select-wrap um-field-wrap">
            <input type="text" name="stoveStyle" class="um-form-control" id="umStoveStyle"
            placeholder="<%= formConfig.stoveStyle.placeholder %>" value="<%= diningGroup %>"
            <%= formConfig.stoveStyle.required ? 'required' : ''%> readonly>
            </div>
        </div>
    <%}%>
    <%if(typeof formConfig.hoodHeader !== 'undefined' && formConfig.hoodHeader.show){%>
        <div class="um-pre-header">
            <span class="um-title-2"><%= formConfig.hoodHeader.value1 %></span>
        </div>
    <%}%>
    <%if(typeof formConfig.hoodStyle !== 'undefined' && formConfig.hoodStyle.show){%>
        <div class="um-form-group um-form-group-hoodStyle um-select<%= formConfig.hoodStyle.required ? ' um-form-group-required' : ''%>">
            <label for="umHoodStyle"><%= formConfig.hoodStyle.label %></label>
            <div class="um-select-wrap um-field-wrap">
            <input type="text" name="hoodStyle" class="um-form-control" id="umHoodStyle"
            placeholder="<%= formConfig.hoodStyle.placeholder %>" value="<%= diningGroup %>"
            <%= formConfig.hoodStyle.required ? 'required' : ''%> readonly>
            </div>
        </div>
    <%}%>
    <%if(typeof formConfig.hoodType !== 'undefined' && formConfig.hoodType.show){%>
        <div class="um-form-group um-form-group-hoodType um-select<%= formConfig.hoodType.required ? ' um-form-group-required' : ''%>">
            <label for="umHoodType"><%= formConfig.hoodType.label %></label>
            <div class="um-select-wrap um-field-wrap">
            <input type="text" name="hoodType" class="um-form-control" id="umHoodType"
            placeholder="<%= formConfig.hoodType.placeholder %>" value="<%= diningGroup %>"
            <%= formConfig.hoodType.required ? 'required' : ''%> readonly>
            </div>
        </div>
    <%}%>
    <%if(typeof formConfig.hoodNumber !== 'undefined' && formConfig.hoodNumber.show){%>
        <div class="um-form-group um-form-group-hoodNumber <%= formConfig.hoodNumber.required ? ' um-form-group-required' : ''%>">
            <label for="umHoodNumber"><%= formConfig.hoodNumber.label %></label>
            <input type="text" name="hoodNumber" class="um-form-control" id="umHoodNumber"
            placeholder="<%= formConfig.hoodNumber.placeholder %>" value="<%= diningGroup %>"
            <%= formConfig.hoodNumber.required ? 'required' : ''%>>
        </div>
    <%}%>
    <%if(typeof formConfig.hoodExt !== 'undefined' && formConfig.hoodExt.show){%>
        <div class="um-form-group um-form-group-hoodExt um-wrapper
        <%= (typeof formConfig.hoodExt.wrap !== 'undefined' && formConfig.hoodExt.wrap) ? 'um-wrapper-hidden' : ''%>">
            <label for="umHoodExt"><%= formConfig.hoodExt.label %></label>
            <div class="um-select-wrap um-field-wrap<%= (typeof formConfig.hoodExt.wrap !== 'undefined' && formConfig.hoodExt.wrap) ? ' um-field um-hidden' : ''%>">
            <textarea id="umHoodExt" type="text" name="hoodExt" class="um-form-control" placeholder="<%= formConfig.hoodExt.placeholder %>"><%= hoodExt %></textarea>
            </div>
        </div>
    <%}%>
    <%if(typeof formConfig.lighting !== 'undefined' && formConfig.lighting.show){%>
        <div class="um-form-group um-form-group-lighting <%= formConfig.lighting.required ? ' um-form-group-required' : ''%>">
            <label for="umLighting"><%= formConfig.lighting.label %></label>
            <input type="hidden" name="lighting" class="um-form-control" id="umLighting"
            placeholder="<%= formConfig.lighting.placeholder %>" value="<%= diningGroup %>"
            <%= formConfig.lighting.required ? 'required' : ''%> readonly>
        </div>
    <%}%>
    <%if(formConfig.lightingExt.show){%>
        <div class="um-form-group um-form-group-lightingExt<%= formConfig.lightingExt.required ? ' um-form-group-required' : ''%>">
            <label for="umLightingExt"><%= formConfig.lightingExt.label %></label>
            <input type="text" name="lightingExt" class="um-form-control" id="umLightingExt" placeholder="<%= formConfig.lightingExt.placeholder %>" value="<%= lightingExt %>" <%= formConfig.lightingExt.required ? 'required' : ''%>>
        </div>
    <%}%>
    <%if(typeof formConfig.gear !== 'undefined' && formConfig.gear.show){%>
        <div class="um-form-group um-form-group-gear <%= formConfig.gear.required ? ' um-form-group-required' : ''%>">
            <label for="umGear"><%= formConfig.gear.label %></label>
            <input type="hidden" name="gear" class="um-form-control" id="umGear"
            placeholder="<%= formConfig.gear.placeholder %>" value="<%= gear %>"
            <%= formConfig.gear.required ? 'required' : ''%> readonly>
        </div>
    <%}%>
    <%if(formConfig.gearExt.show){%>
        <div class="um-form-group um-form-group-gearExt<%= formConfig.gearExt.required ? ' um-form-group-required' : ''%>">
            <label for="umGearExt"><%= formConfig.gearExt.label %></label>
            <input type="text" name="gearExt" class="um-form-control" id="umGearExt" placeholder="<%= formConfig.gearExt.placeholder %>" value="<%= gearExt %>" <%= formConfig.gearExt.required ? 'required' : ''%>>
        </div>
    <%}%>
    <%if(formConfig.personalData.show){%>
        <div class="um-form-group um-form-group-personal-data<%= formConfig.personalData.required ? ' um-form-group-required' : ''%>">
            <label class="um-label-checkbox <%= personalData ? ' um-checked' : ''%>">
                <input type="checkbox" name="personalData" value="<%= personalData %>"
                    <%= formConfig.personalData.required ? ' required' : ''%>
                    <%= personalData ? ' checked' : ''%>>
                <span class="um-label-text">
                    <%= formConfig.personalData.label %>
                    <%if(typeof formConfig.personalData.href !== 'undefined' && formConfig.personalData.href.show) {%>
                        <a target="_blank" href="<%= formConfig.personalData.href.pathname %>" class="um-privacy"><%= formConfig.personalData.href.text %></a>
                    <%}%>
                </span>
            </label>
        </div>
    <%}%>
</fieldset>
<button type="submit" class="um-btn um-btn-primary js-create-order"><%= formConfig.submit.text %></button>