<h2>Настройка полей формы на просчет</h2>

<h3><%= header.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" data-name="header" name="header.show" <%= header.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
</div>

<h3><%= surname.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="surname.show" <%= surname.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="surname.required" <%= surname.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
</div>

<h3><%= name.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="name.show" <%= name.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="name.required" <%= name.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
</div>

<h3><%= email.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="email.show" <%= email.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="email.required" <%= email.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
</div>

<h3><%= phone.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="phone.show" <%= phone.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="phone.required" <%= phone.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
</div>

<h3><%= city.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="city.show" <%= city.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="city.required" <%= city.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
</div>

<h3><%= shop.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="shop.show" <%= shop.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="shop.required" <%= shop.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Выбор на карте</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="shop.mapShow" <%= shop.mapShow ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
</div>

<h3><%= personalData.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="personalData.show" <%= personalData.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="personalData.required" <%= personalData.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
</div>

<h3><%= wishes.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="wishes.show" <%= wishes.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
</div>