<div class="phone-verification-caption">
    <p>На ваш номер <b><%=phone%></b> было отправлено СМС с кодом подтверждения.</p>

    <p>Для отправки заявки подтвердите номер вашего телефона.</p>
</div>

<fieldset class="um-get-phone-code">
    <div class="um-form-group">
        <label class="um-sr-only" for="phoneCode">Код подтверждения</label>
        <input id="phoneCode" type="text" name="code" placeholder="Код подтверждения" class="um-form-control" autocomplete="off">
    </div>
    <button type="submit" class="um-btn um-btn-primary js-confirm-phone">Подтвердить</button>
</fieldset>

