<fieldset class="um-login">
    <%if(formConfig.header.show){%>
        <legend>
            <span class="um-title"><%= formConfig.header.value1 %></span>
            <span class="um-title-2"><%= formConfig.header.value2 %></span>
        </legend>
    <%}%>
    <%if(formConfig.surname.show){%>
        <div class="um-form-group um-form-group-surname">
            <label for="umSurname"><%= formConfig.surname.label %></label>
            <input type="text" name="surname" class="um-form-control" id="umSurname" placeholder="<%= formConfig.surname.placeholder %>" value="<%= surname %>" <%= formConfig.surname.required ? 'required' : ''%>>
        </div>
    <%}%>
    <%if(formConfig.firstName.show){%>
        <div class="um-form-group um-form-group-firstname">
            <label for="umFirstname"><%= formConfig.firstName.label %></label>
            <input type="text" name="firstName" class="um-form-control" id="umFirstname" placeholder="<%= formConfig.firstName.placeholder %>" value="<%= firstName %>" <%= formConfig.firstName.required ? 'required' : ''%>>
        </div>
    <%}%>
    <%if(formConfig.email.show){%>
        <div class="um-form-group um-form-group-email">
            <label for="umEmail"><%= formConfig.email.label %></label>
            <input type="email" name="email" class="um-form-control" id="umEmail" placeholder="<%= formConfig.email.placeholder %>" value="<%= email %>" <%= formConfig.email.required ? 'required' : ''%>>
        </div>
    <%}%>
    <%if(formConfig.phone.show){%>
        <div class="um-form-group um-form-group-phone">
            <label for="umPhone"><%= formConfig.phone.label %></label>
            <input type="text" name="phone" class="um-form-control" id="umPhone" placeholder="<%= formConfig.phone.placeholder %>" value="<%= phone %>" <%= formConfig.phone.required ? 'required' : ''%>>
        </div>
    <%}%>
    <%if(formConfig.city.show){%>
        <div class="um-form-group um-form-group-city">
            <label for="umCity"><%= formConfig.city.label %></label>
            <input type="text" name="city" class="um-form-control" id="umCity" placeholder="<%= formConfig.city.placeholder %>" value="<%= city %>" <%= formConfig.city.required ? 'required' : ''%>>
        </div>
    <%}%>
    <%if(typeof formConfig.address !== 'undefined' && formConfig.address.show){%>
        <div class="um-form-group um-form-group-address">
            <label for="umAddress"><%= formConfig.address.label %></label>
            <input type="text" name="address" class="um-form-control" id="umAddress"
                   placeholder="<%= formConfig.address.placeholder %>"
                   value="<%= typeof address !== 'undefined' ? address : '' %>"
                   <%= formConfig.address.required ? 'required' : ''%>>
        </div>
    <%}%>
    <%if(formConfig.shop.show){%>
        <div class="um-form-group um-form-group-shop
            <%= formConfig.shop.mapShow ? ' um-with-map' : ''%>">
            <label for="umShop"><%= formConfig.shop.label %></label>
            <input type="text" name="shop" class="um-form-control" id="umShop"
                   placeholder="<%= formConfig.shop.placeholder %>"
                   value="<%= shop ? _.escape(shop) : '' %>"
                   <%= formConfig.shop.required ? 'required' : '' %>>
            <%if(formConfig.shop.mapShow){%>
                <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg" class="um-icon-add-location">
                    <path d="M0 0h24v24H0V0z" fill="none"/>
                    <path d="M12 2C8.14 2 5 5.14 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.86-3.14-7-7-7zm4 8h-3v3h-2v-3H8V8h3V5h2v3h3v2z"/>
                </svg>
            <%}%>
        </div>
    <%}%>
    <%if(typeof formConfig.kitchen !== 'undefined' && formConfig.kitchen.show){%>
        <div class="um-form-group um-form-group-kitchen">
            <label for="umKitchen"><%= formConfig.kitchen.label %></label>
            <input type="text" name="kitchen" class="um-form-control" id="umKitchen"
                   placeholder="<%= formConfig.kitchen.placeholder %>"
                   value="<%= typeof kitchen !== 'undefined' ? kitchen : '' %>"
            <%= formConfig.kitchen.required ? 'required' : ''%>>
        </div>
    <%}%>
    <%if(formConfig.wishes.show){%>
        <div class="um-form-group um-form-group-wishes">
            <label for="umWishes"><%= formConfig.wishes.label %></label>
            <textarea id="umWishes" type="text" name="wishes" class="um-form-control" placeholder="<%= formConfig.wishes.placeholder %>"><%= wishes %></textarea>
        </div>
    <%}%>
    <%if(formConfig.personalData.show){%>
        <div class="um-form-group um-form-group-personal-data">
            <label class="um-label-checkbox <%= personalData ? ' um-checked' : ''%>">
                <input type="checkbox" name="personalData" value="<%= personalData %>"
                    <%= formConfig.personalData.required ? ' required' : ''%>
                    <%= personalData ? ' checked' : ''%>>
                <span class="um-label-text"><%= formConfig.personalData.label %></span>
            </label>
        </div>
    <%}%>
</fieldset>
<button type="submit" class="um-btn um-btn--raised um-btn-primary js-create-order"><%= formConfig.submit.text %></button>