<h3>Настройка шага #<%= step + 1 %></h3>
<h4>CSS класс для формы</h4>
<div class="row">
    <div class="input-field col s6">
        <input id="class" name="class" type="text" class="validate" placeholder="um-my-form-class" value="">
        <label for="class" class="active sr-only">CSS класс для формы</label>
    </div>
</div>
<% if (typeof fields !== 'undefined') {%>
    <% _.each(fields, function(field, key, list){%>
        <h4><%= field.label %></h4>
        <div class="row">
            <div class="col s1">
                <p>Сорт.</p>
                <div class="input-field">
                    <input id="fields.<%= field.name %>.sort" type="number" name="fields.<%= field.name %>.sort" value="<%= field.sort %>">
                    <label for="fields.<%= field.name %>.sort" class="active sr-only"></label>
                </div>
            </div>
            <div class="col s2">
                <p>Показывать</p>
                <div class="switch">
                    <label>
                        Off
                        <input type="checkbox" data-name="header" name="fields.<%= field.name %>.show" <%= field.show ? 'checked' : ''%>>
                        <span class="lever"></span>
                        On
                    </label>
                </div>
            </div>
            <%if (field.name == 'header') {%>
                <div class="col s3">
                    <p>Текст 1</p>
                    <div class="input-field">
                        <input id="fields.<%= field.name %>.value1" type="text" name="fields.<%= field.name %>.value1" value="<%= field.value1 %>">
                        <label for="fields.<%= field.name %>.value1" class="active sr-only">Текст 1</label>
                    </div>
                </div>
                <div class="col s3">
                    <p>Текст 2</p>
                    <div class="input-field">
                        <input id="fields.<%= field.name %>.value2" type="text" name="fields.<%= field.name %>.value2" value="<%= field.value2 %>">
                        <label for="fields.<%= field.name %>.value2" class="active sr-only">Текст 2</label>
                    </div>
                </div>
            <%} else if (field.name == 'submit') {%>
                <div class="col s3">
                    <p>Текст 2</p>
                    <div class="input-field">
                        <input id="fields.<%= field.name %>.text" type="text" name="fields.<%= field.name %>.text" value="<%= field.text %>">
                        <label for="fields.<%= field.name %>.text" class="active sr-only">Текст 2</label>
                    </div>
                </div>
            <%} else {%>
                <div class="col s2">
                    <p>Обязательное</p>
                    <div class="switch">
                        <label>
                            Off
                            <input type="checkbox" name="fields.<%= field.name %>.required" <%= field.required ? 'checked' : ''%>>
                            <span class="lever"></span>
                            On
                        </label>
                    </div>
                </div>
                <div class="col s2">
                    <p>Placeholder</p>
                    <div class="input-field">
                        <input id="fields.<%= field.name %>.placeholder" type="text" name="fields.<%= field.name %>.placeholder" value="<%= field.placeholder %>">
                        <label for="fields.<%= field.name %>.placeholder" class="active sr-only">Placeholder</label>
                    </div>
                </div>
                <% if (field.name == 'firstName') {%>
                    <div class="col s3">
                        <p>Фамилия и имя в одном поле</p>
                        <div class="switch">
                            <label>
                                Off
                                <input type="checkbox" name="fields.<%= field.name %>.combine" <%= field.combine ? 'checked' : ''%>>
                                <span class="lever"></span>
                                On
                            </label>
                        </div>
                    </div>
                <%} else if (field.name == 'phone') {%>
                    <div class="col s2">
                        <p>Показывать флаг</p>
                        <div class="switch">
                            <label>
                                Off
                                <input type="checkbox" name="fields.<%= field.name %>.showFlag" <%= field.showFlag ? 'checked' : ''%>>
                                <span class="lever"></span>
                                On
                            </label>
                        </div>
                    </div>
                    <div class="col s3">
                        <p>Доступные коды стран</p>
                        <div class="input-field">
                            <select id="fields.<%= field.name %>.available" name="fields.<%= field.name %>.available" multiple></select>
                            <label for="fields.<%= field.name %>.available" class="sr-only">Доступные коды стран</label>
                        </div>
                    </div>
                    <!-- исключающий фильтр выключен из-за малого числа стран -->
                    <div class="col s4 hiddendiv">
                        <p>Не доступные коды стран</p>
                        <div class="input-field">
                            <select id="fields.<%= field.name %>.notAvailable" name="fields.<%= field.name %>.notAvailable" multiple></select>
                            <label for="fields.<%= field.name %>.notAvailable" class="sr-only">Не доступные коды стран</label>
                        </div>
                    </div>
                <%} else if (field.name == 'shop') {%>
                    <div class="col s2">
                        <p>Выбор на карте</p>
                        <div class="switch">
                            <label>
                                Off
                                <input type="checkbox" name="fields.<%= field.name %>.mapShow" <%= field.mapShow ? 'checked' : ''%>>
                                <span class="lever"></span>
                                On
                            </label>
                        </div>
                    </div>
                <%} else if (field.type == 'checkbox') {%>
                    <div class="col s2">
                        <p>По умолчанию</p>
                        <div class="switch">
                            <label>
                                Off
                                <input type="checkbox" name="fields.<%= field.name %>.checked" <%= field.checked ? 'checked' : ''%>>
                                <span class="lever"></span>
                                On
                            </label>
                        </div>
                    </div>
                    <div class="col s3">
                        <p>Label текст</p>
                        <div class="input-field">
                            <input id="fields.<%= field.name %>.label" type="text" name="fields.<%= field.name %>.label" value="<%= field.label %>">
                            <label for="fields.<%= field.name %>.label" class="active sr-only">Label текст</label>
                        </div>
                    </div>
                    <% if (field.name == 'personalData') {%>
                        <div class="col s2">
                            <p>Показывать ссылку</p>
                            <div class="switch">
                                <label>
                                    Off
                                    <input type="checkbox" name="fields.<%= field.name %>.href.show"
                                    <%= typeof field.href !== 'undefined' &&  field.href.show ? 'checked' : ''%>>
                                    <span class="lever"></span>
                                    On
                                </label>
                            </div>
                        </div>
                        <div class="col s4">
                            <p>Текст</p>
                            <div class="input-field">
                                <input id="fields.<%= field.name %>.href.text" type="text" name="fields.<%= field.name %>.href.text"
                                       value="<%= typeof field.href !== 'undefined' && typeof field.href.text !== 'undefined' ? field.href.text : '' %>">
                                <label for="fields.<%= field.name %>.href.text" class="active sr-only">Текст</label>
                            </div>
                        </div>
                        <div class="col s4">
                            <p>Путь</p>
                            <div class="input-field">
                                <input id="fields.<%= field.name %>.href.pathname" type="text" name="fields.<%= field.name %>.href.pathname"
                                       value="<%= typeof field.href !== 'undefined' && typeof field.href.pathname !== 'undefined' ? field.href.pathname : '' %>">
                                <label for="fields.<%= field.name %>.href.pathname" class="active sr-only">Путь</label>
                            </div>
                        </div>
                    <%}%>
                <%}%>
                <% if (field.type == 'shop' || field.type == 'wishes') {%>
                    <div class="col s3">
                        <p>Обернуть в div</p>
                        <div class="switch">
                            <label>
                                Off
                                <input type="checkbox" name="fields.<%= field.name %>.wrap" <%= field.wrap ? 'checked' : ''%>>
                                <span class="lever"></span>
                                On
                            </label>
                        </div>
                    </div>
                <%}%>
            <%}%>
        </div>
    <%});%>
<%}%>
<button type="submit" class="btn">Сохранить</button>
<button type="button" class="btn-flat js-remove">Удалить шаг</button>