<div class="row">
    <div class="col s6">
        <h2>Основные настройки</h2>
        <div class="row">
            <div class="input-field col s6">
                <input id="global.site.url" name="global.site.url" type="text" class="validate" placeholder="http://yandex.ru" required value="<%= global.site.url %>">
                <label for="global.site.url" class="active">Сайт на котором будет использоваться модуль</label>
            </div>
            <div class="input-field col s6">
                <input id="layout.class" name="layout.class" type="text" class="validate" placeholder="um-my-class" value="<%= layout.class %>">
                <label for="layout.class" class="active">CSS класс для модуля</label>
            </div>
            <div class="input-field col s6">
                <select id="global.type" name="global.type">
                    <option value="" disabled selected>Выберите опцию</option>
                    <option value="calculation"<%= global.type == 'calculation' ? ' selected' : ''%>>Просчет</option>
                    <option value="measurement"<%= global.type == 'measurement' ? ' selected' : ''%>>Замер</option>
                    <option value="credit"<%= global.type == 'credit' ? ' selected' : ''%>>Кредит</option>
                </select>
                <label for="global.type">Тип заявки</label>
            </div>
            <div class="input-field col s6">
                <select id="layout.style" name="layout.style">
                    <option value="false" disabled selected>Выберите опцию</option>
                    <option value="um-default"<%= layout.style == 'um-default' ? ' selected' : ''%>>Из настроек сайта</option>
                    <option value="um-material"<%= layout.style == 'um-material' ? ' selected' : ''%>>Material Design</option>
                    <option value="um-eldorado--horizontal"<%= layout.style == 'um-eldorado--horizontal' ? ' selected' : ''%>>Eldorado</option>
                    <option value="um-mvideo"<%= layout.style == 'um-mvideo' ? ' selected' : ''%>>М.видео</option>
                    <option value="um-edim-doma"<%= layout.style == 'um-um-edim-doma' ? ' selected' : ''%>>Едим дома</option>
                    <option value="um-edim-doma-old"<%= layout.style == 'um-edim-doma-old' ? ' selected' : ''%>>Едим дома old</option>
                    <option value="um-edim-doma-promo"<%= layout.style == 'um-edim-doma-promo' ? ' selected' : ''%>>Едим дома promo</option>
                    <option value="um-piter"<%= layout.style == 'um-piter' ? ' selected' : ''%>>Питер</option>
                    <option value="um-your-house"<%= layout.style == 'um-your-house' ? ' selected' : ''%>>Твой Дом</option>
                    <option value="um-mia"<%= layout.style == 'um-mia' ? ' selected' : ''%>>Миа</option>
                </select>
                <label for="layout.style">Дизайн</label>
            </div>
            <div class="input-field col s6">
                <select id="layout.init.type" name="layout.init.type">
                    <option value="" disabled selected>Выберите опцию</option>
                    <option value="button"<%= layout.init.type == 'button' ? ' selected' : ''%>>Кнопка</option>
                    <option value="form"<%= layout.init.type == 'form' ? ' selected' : ''%>>Форма</option>
                </select>
                <label for="layout.init.type">Тип генерируемого кода</label>
            </div>
            <div class="input-field col s6">
                <select id="layout.init.position" name="layout.init.position">
                    <option value="" disabled selected>Выберите опцию</option>
                    <option value="fixed"<%= layout.init.position == 'fixed' ? ' selected' : ''%>>Фиксированный относительно окна браузера</option>
                    <option value="static"<%= layout.init.position == 'static' ? ' selected' : ''%>>В статичном элементе</option>
                </select>
                <label for="layout.init.position">Начальное отображение</label>
            </div>
            <div class="col s3">
                <p>Debug режим</p>
                <div class="switch">
                    <label>
                        Off
                        <input type="checkbox" name="global.debug" <%= global.debug ? 'checked' : ''%>>
                        <span class="lever"></span>
                        On
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="col s6">
        <h2>HTML-код</h2>
        <p class="error-text"><i class="material-icons">&#xE000;</i> Внимание! При внесении каких-либо изменений в этот
            код работоспособность не гарантируется!</p>
        <p class="warning-text"><i class="material-icons">&#xE002;</i> Важно! При использовании нескольких конфигураций на одной странице, js библиотека "marya-um.js" нужно подключать только один раз</p>
        <div class="input-field">
            <textarea id="code" name="code" class="code" readonly rows="3"></textarea>
            <button type="button" class="btn btn-default btn-small btn-textarea js-copy-code" data-clipboard-target="#code">Скопировать</button>
        </div>
    </div>
</div>
<button type="submit" class="btn">Сохранить</button>


