<h2>Настройка шагов</h2>
<div class="row">
    <div class="col s3">
        <p>Шаг подтверждения телефона</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="phoneVerification" class="valid">
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Еще один шаг</p>
        <button type="button" name="addStep" class="btn">Добавить</button>
    </div>
</div>
