<h2>Настройка полей формы на просчет</h2>

<h3>CSS класс для формы</h3>
<div class="row">
    <div class="input-field col s6">
        <input id="class" name="class" type="text" class="validate" placeholder="um-my-form-class">
        <label for="class" class="active sr-only">CSS класс для формы</label>
    </div>
</div>

<h3><%= header.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" data-name="header" name="header.show" <%= header.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Текст 1</p>
        <div class="input-field">
            <input id="header.value1" type="text" name="header.value1" value="<%= header.value1 %>">
            <label for="header.value1" class="active sr-only">Текст 1</label>
        </div>
    </div>
    <div class="col s3">
        <p>Текст 2</p>
        <div class="input-field">
            <input id="header.value2" type="text" name="header.value2" value="<%= header.value2 %>">
            <label for="header.value2" class="active sr-only">Текст 2</label>
        </div>
    </div>
</div>

<h3><%= surname.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="surname.show" <%= surname.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="surname.required" <%= surname.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="surname.placeholder" type="text" name="surname.placeholder" value="<%= surname.placeholder %>">
            <label for="surname.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
</div>

<h3><%= firstName.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="firstName.show" <%= firstName.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="firstName.required" <%= firstName.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="firstName.placeholder" type="text" name="firstName.placeholder" value="<%= firstName.placeholder %>">
            <label for="firstName.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
    <div class="col s3">
        <p>Фамилия и имя в одном поле</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="firstName.combine" <%= firstName.combine ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
</div>

<h3><%= email.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="email.show" <%= email.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="email.required" <%= email.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="email.placeholder" type="text" name="email.placeholder" value="<%= email.placeholder %>">
            <label for="email.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
    <div class="col s3">
        <p>Маска поля</p>
        <div class="input-field">
            <select id="email.mask" name="email.mask"></select>
            <label for="email.mask" class="sr-only">Маска поля</label>
        </div>
    </div>
</div>

<h3><%= phone.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="phone.show" <%= phone.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="phone.required" <%= phone.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="phone.placeholder" type="text" name="phone.placeholder" value="<%= phone.placeholder %>">
            <label for="phone.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
    <div class="col s2">
        <p>Показывать флаг</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="phone.showFlag" <%= phone.showFlag ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Доступные коды стран</p>
        <div class="input-field">
            <select id="phone.available" name="phone.available" multiple></select>
            <label for="phone.available" class="sr-only">Доступные коды стран</label>
        </div>
    </div>
    <!-- исключающий фильтр выключен из-за малого числа стран -->
    <div class="col s4 hiddendiv">
        <p>Не доступные коды стран</p>
        <div class="input-field">
            <select id="phone.notAvailable" name="phone.notAvailable" multiple></select>
            <label for="phone.notAvailable" class="sr-only">Не доступные коды стран</label>
        </div>
    </div>
</div>

<h3><%= adphone.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="adphone.show" <%= adphone.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="adphone.required" <%= adphone.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="adphone.placeholder" type="text" name="adphone.placeholder" value="<%= adphone.placeholder %>">
            <label for="adphone.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
</div>

<h3><%= city.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="city.show" <%= city.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="city.required" <%= city.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="city.placeholder" type="text" name="city.placeholder" value="<%= city.placeholder %>">
            <label for="city.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
</div>

<h3><%= address.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="address.show" <%= address.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="address.required" <%= address.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="address.placeholder" type="text" name="address.placeholder" value="<%= address.placeholder %>">
            <label for="address.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
</div>

<h3><%= shop.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="shop.show" <%= shop.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="shop.required" <%= shop.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Выбор на карте</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="shop.mapShow" <%= shop.mapShow ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="shop.placeholder" type="text" name="shop.placeholder" value="<%= shop.placeholder %>">
            <label for="shop.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
    <div class="col s3">
        <p>Обернуть в div</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="shop.wrap" <%= shop.wrap ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
</div>

<h3><%= pref.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="pref.show" <%= pref.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="pref.required" <%= pref.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="pref.placeholder" type="text" name="pref.placeholder" value="<%= pref.placeholder %>">
            <label for="pref.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
</div>

<h3><%= product.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="product.show" <%= product.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="product.required" <%= product.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="product.placeholder" type="text" name="product.placeholder" value="<%= product.placeholder %>">
            <label for="product.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
</div>

<h3><%= description.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="description.show" <%= description.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="description.required" <%= description.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="description.placeholder" type="text" name="description.placeholder" value="<%= description.placeholder %>">
            <label for="description.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
</div>

<h3><%= price.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="price.show" <%= price.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="price.required" <%= price.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="price.placeholder" type="text" name="price.placeholder" value="<%= price.placeholder %>">
            <label for="price.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
</div>

<h3><%= pay.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="pay.show" <%= pay.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="pay.required" <%= pay.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="pay.placeholder" type="text" name="pay.placeholder" value="<%= pay.placeholder %>">
            <label for="pay.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
</div>

<h3><%= term.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="term.show" <%= term.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="term.required" <%= term.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="term.placeholder" type="text" name="term.placeholder" value="<%= term.placeholder %>">
            <label for="term.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
</div>

<h3 class=""><%= kitchen.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="kitchen.show" <%= kitchen.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="kitchen.required" <%= kitchen.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="kitchen.placeholder" type="text" name="kitchen.placeholder" value="<%= kitchen.placeholder %>">
            <label for="kitchen.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
</div>

<h3><%= color.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="color.show" <%= color.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="color.required" <%= color.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="color.placeholder" type="text" name="color.placeholder" value="<%= color.placeholder %>">
            <label for="color.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
</div>

<h3>Пользовательское соглашение</h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="personalData.show" <%= personalData.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="personalData.required" <%= personalData.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>По умолчанию</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="personalData.checked" <%= personalData.checked ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Label текст</p>
        <div class="input-field">
            <input id="personalData.label" type="text" name="personalData.label" value="<%= personalData.label %>">
            <label for="personalData.label" class="active sr-only">Label текст</label>
        </div>
    </div>
</div>

<h3>Ссылка на пользовательское соглашение</h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="personalData.href.show"
                    <%= typeof personalData.href !== 'undefined' &&  personalData.href.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s4">
        <p>Текст</p>
        <div class="input-field">
            <input id="personalData.href.text" type="text" name="personalData.href.text"
                   value="<%= typeof personalData.href !== 'undefined' && typeof personalData.href.text !== 'undefined' ? personalData.href.text : '' %>">
            <label for="personalData.href.text" class="active sr-only">Текст</label>
        </div>
    </div>
    <div class="col s4">
        <p>Путь</p>
        <div class="input-field">
            <input id="personalData.href.pathname" type="text" name="personalData.href.pathname"
                   value="<%= typeof personalData.href !== 'undefined' && typeof personalData.href.pathname !== 'undefined' ? personalData.href.pathname : '' %>">
            <label for="personalData.href.pathname" class="active sr-only">Путь</label>
        </div>
    </div>
</div>

<h3><%= wishes.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="wishes.show" <%= wishes.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="wishes.placeholder" type="text" name="wishes.placeholder" value="<%= wishes.placeholder %>">
            <label for="wishes.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
    <div class="col s3">
        <p>Обернуть в div</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="wishes.wrap" <%= wishes.wrap ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
</div>

<h3><%= room.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="room.show" <%= room.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="room.required" <%= room.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="room.placeholder" type="text" name="room.placeholder" value="<%= room.placeholder %>">
            <label for="room.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
</div>

<h3><%= design.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="design.show" <%= design.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="design.required" <%= design.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="design.placeholder" type="text" name="design.placeholder" value="<%= design.placeholder %>">
            <label for="design.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
</div>

<h3><%= worktype.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="worktype.show" <%= worktype.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="worktype.required" <%= worktype.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="worktype.placeholder" type="text" name="worktype.placeholder" value="<%= worktype.placeholder %>">
            <label for="worktype.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
</div>

<h3><%= walls.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="walls.show" <%= walls.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="walls.required" <%= walls.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="walls.placeholder" type="text" name="walls.placeholder" value="<%= walls.placeholder %>">
            <label for="walls.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
</div>

<h3><%= floorHeader.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" data-name="floorHeader" name="floorHeader.show" <%= floorHeader.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s5">
        <p>Текст</p>
        <div class="input-field">
            <input id="floorHeader.value1" type="text" name="floorHeader.value1" value="<%= floorHeader.value1 %>">
            <label for="floorHeader.value1" class="active sr-only">Текст 1</label>
        </div>
    </div>
</div>

<h3><%= floorColor.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="floorColor.show" <%= floorColor.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="floorColor.required" <%= floorColor.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="floorColor.placeholder" type="text" name="floorColor.placeholder" value="<%= floorColor.placeholder %>">
            <label for="floorColor.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
</div>

<h3><%= floorType.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="floorType.show" <%= floorType.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="floorType.required" <%= floorType.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="floorType.placeholder" type="text" name="floorType.placeholder" value="<%= floorType.placeholder %>">
            <label for="floorType.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
</div>

<h3><%= floorChange.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="floorChange.show" <%= floorChange.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="floorChange.required" <%= floorChange.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Label текст</p>
        <div class="input-field">
            <input id="floorChange.label" type="text" name="floorChange.label" value="<%= floorChange.label %>">
            <label for="floorChange.label" class="active sr-only">Label текст</label>
        </div>
    </div>
</div>

<h3><%= ceilingHeader.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" data-name="ceilingHeader" name="ceilingHeader.show" <%= ceilingHeader.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s5">
        <p>Текст</p>
        <div class="input-field">
            <input id="ceilingHeader.value1" type="text" name="ceilingHeader.value1" value="<%= ceilingHeader.value1 %>">
            <label for="ceilingHeader.value1" class="active sr-only">Текст 1</label>
        </div>
    </div>
</div>

<h3><%= ceilingHeight.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="ceilingHeight.show" <%= ceilingHeight.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="ceilingHeight.required" <%= ceilingHeight.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="ceilingHeight.placeholder" type="text" name="ceilingHeight.placeholder" value="<%= ceilingHeight.placeholder %>">
            <label for="ceilingHeight.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
</div>

<h3><%= ceilingChange.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="ceilingChange.show" <%= ceilingChange.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="ceilingChange.required" <%= ceilingChange.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Label текст</p>
        <div class="input-field">
            <input id="ceilingChange.label" type="text" name="ceilingChange.label" value="<%= ceilingChange.label %>">
            <label for="ceilingChange.label" class="active sr-only">Label текст</label>
        </div>
    </div>
</div>

<h3><%= styleHeader.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" data-name="styleHeader" name="styleHeader.show" <%= styleHeader.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s5">
        <p>Текст</p>
        <div class="input-field">
            <input id="styleHeader.value1" type="text" name="styleHeader.value1" value="<%= styleHeader.value1 %>">
            <label for="styleHeader.value1" class="active sr-only">Текст 1</label>
        </div>
    </div>
</div>

<h3><%= position.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="position.show" <%= position.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="position.required" <%= position.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="position.placeholder" type="text" name="position.placeholder" value="<%= position.placeholder %>">
            <label for="position.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
</div>

<h3><%= addPlace.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="addPlace.show" <%= addPlace.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="addPlace.required" <%= addPlace.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="addPlace.placeholder" type="text" name="addPlace.placeholder" value="<%= addPlace.placeholder %>">
            <label for="addPlace.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
</div>

<h3><%= kitchenHeader.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" data-name="kitchenHeader" name="kitchenHeader.show" <%= kitchenHeader.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s5">
        <p>Текст</p>
        <div class="input-field">
            <input id="kitchenHeader.value1" type="text" name="kitchenHeader.value1" value="<%= kitchenHeader.value1 %>">
            <label for="kitchenHeader.value1" class="active sr-only">Текст 1</label>
        </div>
    </div>
</div>

<h3><%= kitchenStyle.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="kitchenStyle.show" <%= kitchenStyle.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="kitchenStyle.required" <%= kitchenStyle.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="kitchenStyle.placeholder" type="text" name="kitchenStyle.placeholder" value="<%= kitchenStyle.placeholder %>">
            <label for="kitchenStyle.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
</div>

<h3><%= upperSection.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="upperSection.show" <%= upperSection.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="upperSection.required" <%= upperSection.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="upperSection.placeholder" type="text" name="upperSection.placeholder" value="<%= upperSection.placeholder %>">
            <label for="upperSection.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
</div>

<h3><%= lowerSection.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="lowerSection.show" <%= lowerSection.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="lowerSection.required" <%= lowerSection.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="lowerSection.placeholder" type="text" name="lowerSection.placeholder" value="<%= lowerSection.placeholder %>">
            <label for="lowerSection.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
</div>

<h3><%= ColorHeader.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" data-name="ColorHeader" name="ColorHeader.show" <%= ColorHeader.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s5">
        <p>Текст</p>
        <div class="input-field">
            <input id="ColorHeader.value1" type="text" name="ColorHeader.value1" value="<%= ColorHeader.value1 %>">
            <label for="ColorHeader.value1" class="active sr-only">Текст 1</label>
        </div>
    </div>
</div>

<h3><%= upperSectionColor.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="upperSectionColor.show" <%= upperSectionColor.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="upperSectionColor.required" <%= upperSectionColor.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="upperSectionColor.placeholder" type="text" name="upperSectionColor.placeholder" value="<%= upperSectionColor.placeholder %>">
            <label for="upperSectionColor.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
</div>

<h3><%= lowerSectionColor.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="lowerSectionColor.show" <%= lowerSectionColor.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="lowerSectionColor.required" <%= lowerSectionColor.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="lowerSectionColor.placeholder" type="text" name="lowerSectionColor.placeholder" value="<%= lowerSectionColor.placeholder %>">
            <label for="lowerSectionColor.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
</div>

<h3><%= combineWishes.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="combineWishes.show" <%= combineWishes.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="combineWishes.required" <%= combineWishes.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="combineWishes.placeholder" type="text" name="combineWishes.placeholder" value="<%= combineWishes.placeholder %>">
            <label for="combineWishes.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
</div>

<h3><%= diningGroupHeader.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" data-name="diningGroupHeader" name="diningGroupHeader.show" <%= diningGroupHeader.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s5">
        <p>Текст</p>
        <div class="input-field">
            <input id="diningGroupHeader.value1" type="text" name="diningGroupHeader.value1" value="<%= diningGroupHeader.value1 %>">
            <label for="diningGroupHeader.value1" class="active sr-only">Текст 1</label>
        </div>
    </div>
</div>

<h3><%= diningGroup.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="diningGroup.show" <%= diningGroup.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="diningGroup.required" <%= diningGroup.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="diningGroup.placeholder" type="text" name="diningGroup.placeholder" value="<%= diningGroup.placeholder %>">
            <label for="diningGroup.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
</div>

<h3><%= diningGroupLength.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="diningGroupLength.show" <%= diningGroupLength.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="diningGroupLength.required" <%= diningGroupLength.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="diningGroupLength.placeholder" type="text" name="diningGroupLength.placeholder" value="<%= diningGroupLength.placeholder %>">
            <label for="diningGroupLength.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
</div>

<h3><%= diningGroupWidth.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="diningGroupWidth.show" <%= diningGroupWidth.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="diningGroupWidth.required" <%= diningGroupWidth.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="diningGroupWidth.placeholder" type="text" name="diningGroupWidth.placeholder" value="<%= diningGroupWidth.placeholder %>">
            <label for="diningGroupWidth.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
</div>

<h3><%= diningGroupHeight.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="diningGroupHeight.show" <%= diningGroupHeight.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="diningGroupHeight.required" <%= diningGroupHeight.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="diningGroupHeight.placeholder" type="text" name="diningGroupHeight.placeholder" value="<%= diningGroupHeight.placeholder %>">
            <label for="diningGroupHeight.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
</div>

<h3><%= chairs.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="chairs.show" <%= chairs.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="chairs.required" <%= chairs.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="chairs.placeholder" type="text" name="chairs.placeholder" value="<%= chairs.placeholder %>">
            <label for="chairs.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
</div>

<h3><%= diningGroupMaterial.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="diningGroupMaterial.show" <%= diningGroupMaterial.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="diningGroupMaterial.required" <%= diningGroupMaterial.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="diningGroupMaterial.placeholder" type="text" name="diningGroupMaterial.placeholder" value="<%= diningGroupMaterial.placeholder %>">
            <label for="diningGroupMaterial.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
</div>

<h3><%= diningGroupStyle.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="diningGroupStyle.show" <%= diningGroupStyle.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="diningGroupStyle.required" <%= diningGroupStyle.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="diningGroupStyle.placeholder" type="text" name="diningGroupStyle.placeholder" value="<%= diningGroupStyle.placeholder %>">
            <label for="diningGroupStyle.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
</div>

<h3><%= diningGroupColor.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="diningGroupColor.show" <%= diningGroupColor.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="diningGroupColor.required" <%= diningGroupColor.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="diningGroupColor.placeholder" type="text" name="diningGroupColor.placeholder" value="<%= diningGroupColor.placeholder %>">
            <label for="diningGroupColor.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
</div>

<h3><%= diningGroupExt.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="diningGroupExt.show" <%= diningGroupExt.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="diningGroupExt.required" <%= diningGroupExt.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="diningGroupExt.placeholder" type="text" name="diningGroupExt.placeholder" value="<%= diningGroupExt.placeholder %>">
            <label for="diningGroupExt.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
</div>

<h3><%= tabletopHeader.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" data-name="tabletopHeader" name="tabletopHeader.show" <%= tabletopHeader.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s5">
        <p>Текст</p>
        <div class="input-field">
            <input id="tabletopHeader.value1" type="text" name="tabletopHeader.value1" value="<%= tabletopHeader.value1 %>">
            <label for="tabletopHeader.value1" class="active sr-only">Текст 1</label>
        </div>
    </div>
</div>

<h3><%= tabletopMaterial.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="tabletopMaterial.show" <%= tabletopMaterial.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="tabletopMaterial.required" <%= tabletopMaterial.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="tabletopMaterial.placeholder" type="text" name="tabletopMaterial.placeholder" value="<%= tabletopMaterial.placeholder %>">
            <label for="tabletopMaterial.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
</div>

<h3><%= tabletopExt.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="tabletopExt.show" <%= tabletopExt.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="tabletopExt.required" <%= tabletopExt.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="tabletopExt.placeholder" type="text" name="tabletopExt.placeholder" value="<%= tabletopExt.placeholder %>">
            <label for="tabletopExt.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
</div>

<h3><%= washingHeader.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" data-name="washingHeader" name="washingHeader.show" <%= washingHeader.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s5">
        <p>Текст</p>
        <div class="input-field">
            <input id="washingHeader.value1" type="text" name="washingHeader.value1" value="<%= washingHeader.value1 %>">
            <label for="washingHeader.value1" class="active sr-only">Текст 1</label>
        </div>
    </div>
</div>

<h3><%= washingType.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="washingType.show" <%= washingType.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="washingType.required" <%= washingType.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="washingType.placeholder" type="text" name="washingType.placeholder" value="<%= washingType.placeholder %>">
            <label for="washingType.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
</div>

<h3><%= washingExt.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="washingExt.show" <%= washingExt.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="washingExt.required" <%= washingExt.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="washingExt.placeholder" type="text" name="washingExt.placeholder" value="<%= washingExt.placeholder %>">
            <label for="washingExt.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
</div>

<h3><%= techHeader.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" data-name="techHeader" name="techHeader.show" <%= techHeader.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s5">
        <p>Текст</p>
        <div class="input-field">
            <input id="techHeader.value1" type="text" name="techHeader.value1" value="<%= techHeader.value1 %>">
            <label for="techHeader.value1" class="active sr-only">Текст 1</label>
        </div>
    </div>
</div>

<h3><%= fridge.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="fridge.show" <%= fridge.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="fridge.required" <%= fridge.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="fridge.placeholder" type="text" name="fridge.placeholder" value="<%= fridge.placeholder %>">
            <label for="fridge.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
</div>

<h3><%= inFridge.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="inFridge.show" <%= inFridge.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="inFridge.required" <%= inFridge.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="inFridge.placeholder" type="text" name="inFridge.placeholder" value="<%= inFridge.placeholder %>">
            <label for="inFridge.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
</div>

<h3><%= fridgeExt.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="fridgeExt.show" <%= fridgeExt.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="fridgeExt.required" <%= fridgeExt.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="fridgeExt.placeholder" type="text" name="fridgeExt.placeholder" value="<%= fridgeExt.placeholder %>">
            <label for="fridgeExt.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
</div>

<h3><%= deepFreeze.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="deepFreeze.show" <%= deepFreeze.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="deepFreeze.required" <%= deepFreeze.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="deepFreeze.placeholder" type="text" name="deepFreeze.placeholder" value="<%= deepFreeze.placeholder %>">
            <label for="deepFreeze.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
</div>

<h3><%= inDeepFreeze.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="inDeepFreeze.show" <%= inDeepFreeze.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="inDeepFreeze.required" <%= inDeepFreeze.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="inDeepFreeze.placeholder" type="text" name="inDeepFreeze.placeholder" value="<%= inDeepFreeze.placeholder %>">
            <label for="inDeepFreeze.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
</div>

<h3><%= deepFreezeExt.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="deepFreezeExt.show" <%= deepFreezeExt.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="deepFreezeExt.required" <%= deepFreezeExt.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="deepFreezeExt.placeholder" type="text" name="deepFreezeExt.placeholder" value="<%= deepFreezeExt.placeholder %>">
            <label for="deepFreezeExt.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
</div>

<h3><%= dishwasher.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="dishwasher.show" <%= dishwasher.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="dishwasher.required" <%= dishwasher.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="dishwasher.placeholder" type="text" name="dishwasher.placeholder" value="<%= dishwasher.placeholder %>">
            <label for="dishwasher.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
</div>

<h3><%= inDishwasher.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="inDishwasher.show" <%= inDishwasher.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="inDishwasher.required" <%= inDishwasher.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="inDishwasher.placeholder" type="text" name="inDishwasher.placeholder" value="<%= inDishwasher.placeholder %>">
            <label for="inDishwasher.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
</div>

<h3><%= dishwasherExt.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="dishwasherExt.show" <%= dishwasherExt.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="dishwasherExt.required" <%= dishwasherExt.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="dishwasherExt.placeholder" type="text" name="dishwasherExt.placeholder" value="<%= dishwasherExt.placeholder %>">
            <label for="dishwasherExt.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
</div>

<h3><%= washer.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="washer.show" <%= washer.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="washer.required" <%= washer.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="washer.placeholder" type="text" name="washer.placeholder" value="<%= washer.placeholder %>">
            <label for="washer.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
</div>

<h3><%= inWasher.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="inWasher.show" <%= inWasher.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="inWasher.required" <%= inWasher.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="inWasher.placeholder" type="text" name="inWasher.placeholder" value="<%= inWasher.placeholder %>">
            <label for="inWasher.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
</div>

<h3><%= washerExt.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="washerExt.show" <%= washerExt.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="washerExt.required" <%= washerExt.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="washerExt.placeholder" type="text" name="washerExt.placeholder" value="<%= washerExt.placeholder %>">
            <label for="washerExt.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
</div>

<h3><%= stoveNumber.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="stoveNumber.show" <%= stoveNumber.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="stoveNumber.required" <%= stoveNumber.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="stoveNumber.placeholder" type="text" name="stoveNumber.placeholder" value="<%= stoveNumber.placeholder %>">
            <label for="stoveNumber.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
</div>

<h3><%= inMicrowaveNumber.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="inMicrowaveNumber.show" <%= inMicrowaveNumber.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="inMicrowaveNumber.required" <%= inMicrowaveNumber.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="inMicrowaveNumber.placeholder" type="text" name="inMicrowaveNumber.placeholder" value="<%= inMicrowaveNumber.placeholder %>">
            <label for="inMicrowaveNumber.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
</div>

<h3><%= freeMicrowaveNumber.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="freeMicrowaveNumber.show" <%= freeMicrowaveNumber.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="freeMicrowaveNumber.required" <%= freeMicrowaveNumber.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="freeMicrowaveNumber.placeholder" type="text" name="freeMicrowaveNumber.placeholder" value="<%= freeMicrowaveNumber.placeholder %>">
            <label for="freeMicrowaveNumber.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
</div>

<h3><%= oven.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="oven.show" <%= oven.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="oven.required" <%= oven.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="oven.placeholder" type="text" name="oven.placeholder" value="<%= oven.placeholder %>">
            <label for="oven.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
</div>

<h3><%= hob.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="hob.show" <%= hob.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="hob.required" <%= hob.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="hob.placeholder" type="text" name="hob.placeholder" value="<%= hob.placeholder %>">
            <label for="hob.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
</div>

<h3><%= stoveStyle.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="stoveStyle.show" <%= stoveStyle.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="stoveStyle.required" <%= stoveStyle.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="stoveStyle.placeholder" type="text" name="stoveStyle.placeholder" value="<%= stoveStyle.placeholder %>">
            <label for="stoveStyle.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
</div>

<h3><%= hoodStyle.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="hoodStyle.show" <%= hoodStyle.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="hoodStyle.required" <%= hoodStyle.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="hoodStyle.placeholder" type="text" name="hoodStyle.placeholder" value="<%= hoodStyle.placeholder %>">
            <label for="hoodStyle.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
</div>

<h3><%= hoodType.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="hoodType.show" <%= hoodType.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="hoodType.required" <%= hoodType.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="hoodType.placeholder" type="text" name="hoodType.placeholder" value="<%= hoodType.placeholder %>">
            <label for="hoodType.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
</div>

<h3><%= hoodNumber.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="hoodNumber.show" <%= hoodNumber.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="hoodNumber.required" <%= hoodNumber.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="hoodNumber.placeholder" type="text" name="hoodNumber.placeholder" value="<%= hoodNumber.placeholder %>">
            <label for="hoodNumber.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
</div>

<h3><%= hoodExt.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="hoodExt.show" <%= hoodExt.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="hoodExt.required" <%= hoodExt.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="hoodExt.placeholder" type="text" name="hoodExt.placeholder" value="<%= hoodExt.placeholder %>">
            <label for="hoodExt.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
</div>

<h3><%= lighting.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="lighting.show" <%= lighting.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="lighting.required" <%= lighting.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="lighting.placeholder" type="text" name="lighting.placeholder" value="<%= lighting.placeholder %>">
            <label for="lighting.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
</div>

<h3><%= lightingExt.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="lightingExt.show" <%= lightingExt.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="lightingExt.required" <%= lightingExt.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="lightingExt.placeholder" type="text" name="lightingExt.placeholder" value="<%= lightingExt.placeholder %>">
            <label for="lightingExt.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
</div>

<h3><%= gear.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="gear.show" <%= gear.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="gear.required" <%= gear.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="gear.placeholder" type="text" name="gear.placeholder" value="<%= gear.placeholder %>">
            <label for="gear.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
</div>

<h3><%= gearExt.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="gearExt.show" <%= gearExt.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="gearExt.required" <%= gearExt.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="gearExt.placeholder" type="text" name="gearExt.placeholder" value="<%= gearExt.placeholder %>">
            <label for="gearExt.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
</div>

<h3><%= file.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="file.show" <%= file.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="file.required" <%= file.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="file.placeholder" type="text" name="file.placeholder" value="<%= file.placeholder %>">
            <label for="file.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
</div>

<h3><%= comment.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="comment.show" <%= comment.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="comment.required" <%= comment.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="comment.placeholder" type="text" name="comment.placeholder" value="<%= comment.placeholder %>">
            <label for="comment.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
</div>

<h3><%= submit.label %></h3>
<div class="row">
    <div class="col s3">
        <p>Текст кнопки</p>
        <div class="input-field">
            <input id="submit.text" type="text" name="submit.text" value="<%= submit.text %>">
            <label for="submit.text" class="active sr-only">Текст кнопки</label>
        </div>
    </div>
</div>

<button type="submit" class="btn">Сохранить</button>