<h2>Настройка полей формы на просчет</h2>

<h3>CSS класс для формы</h3>
<div class="row">
    <div class="input-field col s6">
        <input id="class" name="class" type="text" class="validate" placeholder="um-my-form-class">
        <label for="class" class="active sr-only">CSS класс для формы</label>
    </div>
</div>

<h3><%= header.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" data-name="header" name="header.show" <%= header.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Текст 1</p>
        <div class="input-field">
            <input id="header.value1" type="text" name="header.value1" value="<%= header.value1 %>">
            <label for="header.value1" class="active sr-only">Текст 1</label>
        </div>
    </div>
    <div class="col s3">
        <p>Текст 2</p>
        <div class="input-field">
            <input id="header.value2" type="text" name="header.value2" value="<%= header.value2 %>">
            <label for="header.value2" class="active sr-only">Текст 2</label>
        </div>
    </div>
</div>

<h3><%= surname.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="surname.show" <%= surname.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="surname.required" <%= surname.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="surname.placeholder" type="text" name="surname.placeholder" value="<%= surname.placeholder %>">
            <label for="surname.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
</div>

<h3><%= firstName.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="firstName.show" <%= firstName.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="firstName.required" <%= firstName.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="firstName.placeholder" type="text" name="firstName.placeholder" value="<%= firstName.placeholder %>">
            <label for="firstName.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
</div>

<h3><%= email.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="email.show" <%= email.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="email.required" <%= email.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="email.placeholder" type="text" name="email.placeholder" value="<%= email.placeholder %>">
            <label for="email.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
</div>

<h3><%= phone.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="phone.show" <%= phone.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="phone.required" <%= phone.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="phone.placeholder" type="text" name="phone.placeholder" value="<%= phone.placeholder %>">
            <label for="phone.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
</div>

<h3><%= city.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="city.show" <%= city.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="city.required" <%= city.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="city.placeholder" type="text" name="city.placeholder" value="<%= city.placeholder %>">
            <label for="city.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
</div>

<h3><%= address.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="address.show" <%= address.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="address.required" <%= address.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="address.placeholder" type="text" name="address.placeholder" value="<%= address.placeholder %>">
            <label for="address.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
</div>

<h3><%= shop.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="shop.show" <%= shop.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="shop.required" <%= shop.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Выбор на карте</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="shop.mapShow" <%= shop.mapShow ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="shop.placeholder" type="text" name="shop.placeholder" value="<%= shop.placeholder %>">
            <label for="shop.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
</div>

<h3 class="hiddendiv"><%= kitchen.label %></h3>
<div class="row hiddendiv">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="kitchen.show" <%= kitchen.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="kitchen.required" <%= kitchen.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="kitchen.placeholder" type="text" name="kitchen.placeholder" value="<%= kitchen.placeholder %>">
            <label for="kitchen.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
</div>

<h3>Пользовательское соглашение</h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="personalData.show" <%= personalData.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>Обязательное</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="personalData.required" <%= personalData.required ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s2">
        <p>По умолчанию</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="personalData.checked" <%= personalData.checked ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Label текст</p>
        <div class="input-field">
            <input id="personalData.label" type="text" name="personalData.label" value="<%= personalData.label %>">
            <label for="personalData.label" class="active sr-only">Label текст</label>
        </div>
    </div>
</div>

<h3><%= wishes.label %></h3>
<div class="row">
    <div class="col s2">
        <p>Показывать</p>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" name="wishes.show" <%= wishes.show ? 'checked' : ''%>>
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="col s3">
        <p>Placeholder</p>
        <div class="input-field">
            <input id="wishes.placeholder" type="text" name="wishes.placeholder" value="<%= wishes.placeholder %>">
            <label for="wishes.placeholder" class="active sr-only">Placeholder</label>
        </div>
    </div>
</div>

<h3><%= submit.label %></h3>
<div class="row">
    <div class="col s3">
        <p>Текст кнопки</p>
        <div class="input-field">
            <input id="submit.text" type="text" name="submit.text" value="<%= submit.text %>">
            <label for="submit.text" class="active sr-only">Текст кнопки</label>
        </div>
    </div>
</div>

<button type="submit" class="btn">Сохранить</button>