<div class="row">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s3"><a class="active" href="#configMain">Основные настройки</a></li>
            <li class="tab col s3"><a href="#configForm">Настройки полей формы</a></li>
        </ul>
    </div>
    <div id="configMain" class="col s12"><div id="formCodeGenerator"></div></div>
    <div id="configForm" class="col s12"><div id="formFieldGenerator"></div></div>
</div>

<div id="example"></div>
