<p class="um-title">Легко!</p>
<p class="um-title-2">Бесплатный дизайн-проект в&nbsp;три&nbsp;клика</p>
<fieldset class="um-login">
    <div class="um-form-group">
        <label class="um-sr-only" for="umSurname">Фамилия</label>
        <input type="text" class="um-form-control" id="umSurname" placeholder="Фамилия">
    </div>
    <div class="um-form-group">
        <label class="um-sr-only" for="umFirstname">Имя</label>
        <input type="text" class="um-form-control" id="umFirstname" placeholder="Имя">
    </div>
    <div class="um-form-group">
        <label class="um-sr-only" for="umEmail">E-mail</label>
        <input type="email" class="um-form-control" id="umEmail" placeholder="E-mail">
    </div>
    <div class="um-form-group">
        <label class="um-sr-only" for="umPhone">Телефон</label>
        <input type="text" class="um-form-control" id="umPhone" placeholder="Телефон">
    </div>
    <div class="um-form-group">
        <label class="um-sr-only" for="umCity">Город</label>
        <input type="text" class="um-form-control" id="umCity" placeholder="Город">
    </div>
</fieldset>
<button type="submit" class="um-btn um-btn--raised um-btn-primary js-create-order">Отправить заявку</button>