<p class="um-title">Легко!</p>
<p class="um-title-2">Бесплатный дизайн-проект в&nbsp;три&nbsp;клика</p>
<fieldset class="um-login">
    <div class="um-form-group">
        <label class="um-sr-only" for="umSurname">Фамилия</label>
        <input type="text" name="surname" class="um-form-control" id="umSurname" placeholder="Фамилия" value="<%= surname %>">
    </div>
    <div class="um-form-group">
        <label class="um-sr-only" for="umFirstname">Имя</label>
        <input type="text" name="firstName" class="um-form-control" id="umFirstname" placeholder="Имя" value="<%= firstName %>">
    </div>
    <div class="um-form-group">
        <label class="um-sr-only" for="umEmail">E-mail</label>
        <input type="email" name="email" class="um-form-control" id="umEmail" placeholder="E-mail" value="<%= email %>">
    </div>
    <div class="um-form-group">
        <label class="um-sr-only" for="umPhone">Телефон</label>
        <input type="text" name="phone" class="um-form-control" id="umPhone" placeholder="Телефон" value="<%= phone %>">
    </div>
    <div class="um-form-group">
        <label class="um-sr-only" for="umCity">Город</label>
        <input type="text" name="city" class="um-form-control" id="umCity" placeholder="Город" value="<%= city %>">
    </div>
    <div class="um-form-group um-hidden">
        <label class="um-sr-only" for="umShop">Студия</label>
        <input type="text" name="shop" class="um-form-control" id="umShop" placeholder="Студия" value="<%= shop %>" disabled>
        <%if(UM.option.showMap){%>
            <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg" class="um-icon-add-location">
                <path d="M0 0h24v24H0V0z" fill="none"/>
                <path d="M12 2C8.14 2 5 5.14 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.86-3.14-7-7-7zm4 8h-3v3h-2v-3H8V8h3V5h2v3h3v2z"/>
            </svg>
        <%}%>
    </div>
</fieldset>
<button type="submit" class="um-btn um-btn--raised um-btn-primary js-create-order">Отправить заявку</button>