<p>На ваш номер <b><%=phone%></b> было отправлено СМС с кодом подтверждения.</p>

<p>Для отправки заявки подтвердите номер вашего телефона.</p>

<fieldset class="um-get-phone-code">
    <div class="um-form-group">
        <label class="um-sr-only" for="phoneVerificationCode">Код подтверждения</label>
        <input id="phoneVerificationCode" type="text" name="phoneVerificationCode" placeholder="Код подтверждения" class="um-form-control">
    </div>
    <button type="submit" class="um-btn um-btn--raised um-btn-primary js-confirm-phone">Подтвердить</button>
</fieldset>

