$main-color: #e11a33;
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
.um-hidden {
  display: none !important;
  visibility: hidden;
}
.um-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.um-btn:not(:disabled) {
  cursor: pointer;
}

.um {
  box-sizing: border-box;
  * {
    box-sizing: inherit;
    ::before,
    ::after {
      box-sizing: inherit;
    }
  }
  &.fixed {
    position: fixed;
    bottom: 5vh;
    right: 5vh;
    z-index: 2010;
  }
  [type="checkbox"]{
    &:checked+label:before {
      content: '';
      border-top: 2px solid transparent;
      border-left: 2px solid transparent;
      border-right: 2px solid $main-color;
      border-bottom: 2px solid $main-color;
      top: 0;
      left: 0;
      width: 7px;
      height: 11px;
      -webkit-transform: rotateZ(37deg);
      transform: rotateZ(37deg);
      -webkit-transform-origin: 100% 100%;
      transform-origin: 100% 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      position: absolute;
      //transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
      z-index: 1;
    }
    &:checked+label:after {
      z-index: 0;
    }
    &:checked,
    &:not(:checked){
      position: absolute;
      left: -9999px;
      opacity: 0;
    }
    + label {
      position: relative;
      padding-left: 20px;
      cursor: pointer;
      display: inline-block;
      -webkit-user-select: none;
      -moz-user-select: none;
      -khtml-user-select: none;
      -ms-user-select: none;
      &:before,
      &:after{
        content: '';
        left: 0;
        position: absolute;
        //transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
        z-index: 1;
      }
      &:after {
        height: 14px;
        width: 14px;
        background-color: transparent;
        border: 1px solid #aaaaaa;
        top: 0;
        z-index: 0;
        vertical-align: middle;
      }
    }
  }
}
.um-form-group {
  position: relative;
}

.um-dropdown-content {
  padding: 0;
  background-color: #fff;
  margin: 0;
  /* display: none; */
  min-width: 100px;
  width: 100%;
  max-height: 150px;
  overflow-y: auto;
  //opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 999;
  &.active {
    display: block;
    opacity: 1;
  }
  li {
    list-style-type: none;
    clear: both;
    color: rgba(0, 0, 0, 0.87);
    cursor: pointer;
    line-height: 1.5rem;
    width: 100%;
    text-align: left;
    text-transform: none;
    padding: 0 2px 1px;
    min-height: 1.2em;
    > span,
    > a {
      display: block;
    }
    &.active {
      background-color: #eee;
    }
    &.disabled {
      color: rgba(0, 0, 0, 0.3);
      background-color: transparent;
    }
  }
}

#umMap {
  height: 500px;
}