@import 'colors';
@import 'tooltip';
//@import 'loading';
@import 'load-bar';

$font-stack: Helvetica, sans-serif;

.um-hidden {
    display: none !important;
    visibility: hidden;
}

.um {
    max-width: 500px;
    border-radius: 2px;
    overflow: hidden;
    background: #fff;
    &.fixed {
        position: fixed;
        bottom: 2vh;
        right: 2vh;
        z-index: 999999;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    }
    * {
        box-sizing: border-box;
    }
}

.um-title {
  padding: 0 0 0.4em 0;
  color: #666;
  font-size: 2em;
    margin: 0;
}
.um-title-2 {
  font-size: 1.3em;
  padding: 0 0 1em 0;
    margin: 0;
}

.um-form {
  font-size: 14px;
  width: 315px;
  padding: 1.5em;

  label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
  }
    .um-btn{
        width: 100%;
    }
}
.um-login{
    margin-bottom: 20px;
}
.um-sr-only{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
.um-form-group{
  position: relative;
  margin-bottom: 15px;
  &.um-has-error{
    .um-form-control{
      border-color: #d50000;
      box-shadow: none;
    }
  }
}
.um-form-control{
  border: none;
  border-bottom: 1px solid rgba(0,0,0,.12);
  display: block;
  font-size: 16px;
  font-family: "Helvetica","Arial",sans-serif;
  margin: 0;
  padding: 4px 0;
  width: 100%;
  background: 0 0;
  text-align: left;
  color: inherit;
  &:focus {
    outline: none;
  }
}
.um-btn{
  background: 0;
  border: none;
  border-radius: 2px;
  color: #000;
  position: relative;
  height: 36px;
  margin: 0;
  min-width: 64px;
  padding: 0 16px;
  display: inline-block;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0;
  overflow: hidden;
  will-change: box-shadow;
  transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  line-height: 36px;
  vertical-align: middle;
    &[disabled][disabled]{
        color: rgba(0,0,0,.26);
        cursor: default;
        background-color: transparent;
    }
}
.um-btn--raised {
  background: rgba(158,158,158,.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  &:active {
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
    background-color: rgba(158,158,158,.4)
  }
    &:focus:not(:active) {
        box-shadow: 0 0 8px rgba(0,0,0,.18),0 8px 16px rgba(0,0,0,.36);
        background-color: rgba(158,158,158,.4);
    }
    [disabled][disabled]{
        background-color: rgba(0,0,0,.12);
        color: rgba(0,0,0,.26);
        box-shadow: none;
    }
}
.um-btn-primary {
  color: #fff;
  background-color: $primary-color;
    &:active {
        background-color: $primary-color;
    }
    &:focus:not(:active) {
        background-color: $primary-color;
    }
}