@mixin um-animation-show() {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s, visibility 0s ease-in 0.3s;
  -moz-transition: opacity 0.3s, visibility 0s ease-in 0.3s;
  -o-transition: opacity 0.3s, visibility 0s ease-in 0.3s;
  transition: opacity 0.3s, visibility 0s ease-in 0.3s;
  transition-delay: 0s;
}
@mixin um-sr-only() {
	position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}