@import 'colors';

#Content {
  min-width: 1000px;
  max-width: 1280px;
}

body{
  >.progress{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 0;
  }
}
h1 {
  font-size: 2.92rem;
}
h2 {
  font-size: 2.28rem;
}
h3 {
  font-size: 1.64rem;
}
h4 {
  font-size: 1rem;
}
textarea.code{
  padding: 2em 1em;
  height: auto;
  background: #f5f2f0;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
.btn-default{
  color: #000;
  background-color: rgba(158,158,158,.2);
  &:hover{
    color: #000;
    background-color: rgba(158,158,158,.2);
  }
  &:active,
  &:focus {
    background-color: rgba(158,158,158,.4);
  }
}
.btn-small{
  height: 30px;
  line-height: 30px
}
.btn-textarea{
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1rem;
  font-size: 0.8em;
  opacity: 0;
}
.valid + .btn-textarea{
  opacity: 1;
}
.warning-text{
  color: #FB8C00;
  .material-icons{
    font-size: inherit;
    line-height: inherit;
  }
}
.error-text{
  color: #E57373;
  .material-icons{
    font-size: inherit;
    line-height: inherit;
  }
}
.switch{
  line-height: 3rem;
  margin: 0 0 15px 0;
}

.form-field-generator {
  .input-field {
    margin-top: 0;
  }
}
.tabs {
  .tab {
    a{
      color: #26a69a;
      &:hover {
        color: #84c7c1;
      }
    }
  }
  .indicator {
    background-color: #84c7c1;
  }
}