@import 'mixins';
@import 'reset';
@import 'base';
@import 'tooltip';
@import 'modal';
@import 'dropdown-select';

$color-red: #D70B07;

@mixin btn() {
  margin: 0;
  border-radius: 0;
  vertical-align: middle;
  outline: none;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 10px 15px 10px 40px;
  border: none;
  font-family: OfficinaSansMedium;
  font-size: 20px;
  line-height: 26px;
  color: black;
  cursor: pointer;
  width: 100%;
  text-align: center;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  &:focus,
  &:hover {
    box-shadow: inset 0 0 10px 30px #ffffff, 0 0 5px rgba(0,0,0,0.5);
  }
}

.um-btn.um-bath{
  @include btn();
}

.um.um-bath{
  font: normal 14px/20px "OfficinaSansBook";
  background-color: $color-red;
  padding: 25px;
  color: white;
  border: 1px solid rgba(211, 211, 211, 0.46);
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.34);
  border-radius: 3px;
  .btn-wrap {
    margin-left: -25px;
    padding: 12px;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: -0;
      background-color: rgba(255, 255, 255, 0.61);
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      -webkit-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out;
      z-index: 1;
    }
  }
  .um-btn {
    @include btn();
    &[type="submit"]{
      position: relative;
      z-index: 10;
      &::before {
        content: '\f178';
        font-family: FontAwesome;
        width: 60px;
        height: 60px;
        position: absolute;
        left: -40px;
        top: -7px;
        line-height: 60px;
        background-color: #F92B16;
        color: white;
        text-align: center;
        vertical-align: middle;
        border-radius: 100%;
        font-size: 20px;
        border: 1px solid rgba(0, 0, 0, 0.02);
        box-sizing: border-box;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
        -webkit-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
        z-index: 10;
      }
      &:hover {
        &::before {
          transform: translateX(5px);
          box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.55);
        }
      }
    }
  }
  legend {
    width: 100%;
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 30px;
    color: inherit;
    border-bottom: 1px solid #dddddd;
  }
  .um-title,
  .um-title-2{
    font-size: inherit;
    display: block;
    color: inherit;
    padding: 0;
  }
  .um-form {
    label {
      &:not(.um-label-checkbox) {
        @include sr-only();
      }
    }
  }

  .um-phone-wrap,
  .um-select-wrap{
    display: block;
  }

  .um-form-group {
    margin-bottom: 15px;
    &.um-has-error {
      .um-form-control {
        border-color: $color-red;
        box-shadow: none;
      }
    }
    &.um-select.um-select-left .um-field-wrap::before{
      display: none;
    }
    &.um-form-group-phone {
      .um-dropdown-content {
        display: none!important;// не показываем выпадающий список с кодами стран
      }
    }
    svg[class^='um-icon-'] {
      position: absolute;
      top: 0;
      right: 0;
      width: 2.5em;
      background-color: white;
      line-height: 100%;
      fill: #757575;
      cursor: pointer;
    }
  }

  .um-form-control {
    display: block;
    margin: 0;
    max-width: 100%;
    padding: 4px 6px;
    border: 1px solid #dddddd;
    background: white;
    color: #444444;
    -webkit-transition: all linear 0.2s;
    transition: all linear 0.2s;
    height: 40px;
    width: 100%;
    vertical-align: middle;
    border-radius: 2px;
    font-family: OfficinaSansMedium;
    &:focus {
      background-color: rgba(234, 234, 234, 0.46);
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.12) inset;
      border-color: currentColor;
      color: white;
      outline: 0;
    }
  }
  .um-open-select {
    .um-form-control{
      &:focus {
        background: white;
        box-shadow: none;
        border: 1px solid #dddddd;
        color: #444444;
      }
    }
  }

  textarea.um-form-control {
    border-color: transparent;
    background: none;
    resize: none;
    padding: 9px 6px;
    &:focus{
      background-color: transparent;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.12) inset;
      border: 1px dashed #dddddd;
    }
  }
  .um-label-text {
    color: white;
    font-family: OfficinaSansMedium;
  }

  .um-label-checkbox{
    &::after {
      background-color: #e5e5e5;
      border: #a5a5a5 2px;

    }
  }
  .um-dropdown-content{
    li {
      &.active,
      &:focus,
      &:hover {
        background-color: #eee;
      }
    }
  }
}