@import 'mixins';
@import 'reset';
@import 'base';
@import 'tooltip';
@import 'modal';

$main-color: #d85349;

.um-btn.um-edim-doma-promo {
  font: normal 14px / 20px "Trebuchet MS", Verdana, Arial, sans-serif;
  -webkit-appearance: none;
  margin: 0;
  border: 1px solid #C7BBAB;
  overflow: visible;
  color: #444444;
  text-transform: none;
  display: inline-block;
  box-sizing: border-box;
  padding: 7px 25px;
  background: #cec5bc;
  font-size: 18px;
  vertical-align: middle;
  line-height: 30px;
  min-height: 30px;
  text-decoration: none;
  text-align: center;
  text-shadow: 0 0 20px #F9F3E1, 0 0 1px #505050;
  letter-spacing: .3px;
  box-shadow: 0 1px rgba(0, 0, 0, 0.19) inset;
  transition: .3s ease-in;
  &.um-btn-primary {
    color: white;
    background-color: $main-color;
    border-color: #AB3228;
    &:active,
    &:focus,
    &:hover {
      background-color: #BF3428;
      border-color: #AB3228;
    }
  }
  &:active,
  &:focus,
  &:hover {
    background-color: #bbaa9e;
    color: white;
    outline: none;
    text-decoration: none;
    text-shadow: 0 0 20px #968F89,0 0 1px #505050;
    box-shadow: 0 3px rgba(0, 0, 0, 0.19) inset;
  }
  &:disabled {
    background-color: $main-color - 30%;
    &:hover {
      &::after {
        display: none;
      }
    }
  }
}

.um.um-edim-doma-promo{
  max-width: 980px;
  padding: 25px;
  margin: 0 auto;
  border: 1px solid #DDD9CF;
  border-radius: 2px;
  box-shadow: 2px 3px 15px rgba(0, 0, 0, 0.07);
  font: normal 14px / 20px "Trebuchet MS", Verdana, Arial, sans-serif;
  &.fixed {
    .um-header {
      min-height: 0;
    }
  }

  a {
    color: inherit;
    text-decoration: underline;
  }

  .um-tooltip {
    padding: 3px;
  }
  .um-form {
    //text-align: center;

    legend {
      margin-left: -26px;
      padding: 5px 30px 5px 55px;
      line-height: 45px;
      border: 2px solid rgba(99, 84, 66, 0.44);
      border-top-right-radius: 35px;
      border-bottom-right-radius: 35px;
      box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.28), -2px 2px 2px rgba(250, 247, 241, 0.25) inset, -2px -2px 2px rgba(252, 241, 234, 0.32) inset;
      font-family: 'Conv_Chianti-Bold', 'Verdana';
      font-size: 25px;
      font-style: normal;
      font-weight: normal;
      color: white;
      letter-spacing: .3px;
      text-shadow: 0 0 3px rgba(0, 0, 0, 0.74), 0 0 10px rgb(48, 20, 4);
      background-image: url('http://kuhni-edimdoma.ru/promo/css/wood.jpg');
    }
    .um-title {
      font: inherit;
      color: inherit;
      &::after {
        content: "\2022";
        font-size: 24px;
        position: absolute;
        margin-left: 7px;
        margin-top: 2px;
        color: white;
      }
    }
    fieldset {
      .um-form-group:last-child {
        margin-bottom: 0;
      }
    }
    .um-form-group {
      width: 33.3333333333%;
      float: left;
      padding: 0 5px;
      margin-bottom: 10px;
      label {
        color: #444444;
      }
      &:not(.um-form-group-city):not(.um-form-group-shop) {
        label:not(.um-label-checkbox) {
          @include um-sr-only();
        }
      }
      &.um-form-group-shop {
        width: 66.6666666666%;
      }
      .um-dropdown-content {
        left: 5px;
        width: calc(100% - 10px);
        border: 1px solid #e8e8e8;
      }
      .um-tooltip{
        left: 5px;
        width: calc(100% - 10px);
        background: transparent;
        color: $main-color;
      }
      &.um-has-error {
        .um-form-control {
          border-color: $main-color;
        }
      }
    }
    .um-form-control {
      width: 100%;
      height: 30px;
      padding: 4px 6px;
      border: 1px solid #dddddd;
      background: #ffffff;
      color: #444444;
      -webkit-transition: all linear 0.2s;
      transition: all linear 0.2s;
      &:focus {
        border-color: #cec4bb;
        outline: 0;
        background: rgba(249, 243, 238, 0.59);
        color: #444444;
      }
    }
    input[type='text']:-ms-input-placeholder,
    input[type='password']:-ms-input-placeholder{
      color: #444444!important;
    }
    .um-form-group-personal-data,
    .um-form-group-wishes {
      width: 100%;
    }
    .um-form-group-wishes {
      margin-bottom: 10px;
    }

    textarea.um-form-control {
      height: 30px;
      overflow: auto;
      vertical-align: top;
      font: inherit;

      border: 1px transparent dashed;
      background: none !important;
      &:focus {
        cursor: text;
        outline: 0;
        color: #444444;
        border-color: #e8e8e8;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
      }
    }
    .um-btn {
      -webkit-appearance: none;
      margin: 0;
      border: 1px solid #C7BBAB;
      overflow: visible;
      font: inherit;
      color: #444444;
      text-transform: none;
      display: inline-block;
      box-sizing: border-box;
      padding: 7px 25px;
      background: #cec5bc;
      font-size: 18px;
      vertical-align: middle;
      line-height: 30px;
      min-height: 30px;
      text-decoration: none;
      text-align: center;
      text-shadow: 0 0 20px #F9F3E1, 0 0 1px #505050;
      letter-spacing: .3px;
      box-shadow: 0 1px rgba(0, 0, 0, 0.19) inset;
      transition: .3s ease-in;
      &.um-btn-primary {
        position: absolute;
        bottom: -20px;
        right: 20px;
        color: white;
        background-color: $main-color;
        border-color: #AB3228;
        &:active,
        &:focus,
        &:hover {
          background-color: #BF3428;
          border-color: #AB3228;
        }
      }
      &:active,
      &:focus,
      &:hover {
        background-color: #bbaa9e;
        color: white;
        outline: none;
        text-decoration: none;
        text-shadow: 0 0 20px #968F89,0 0 1px #505050;
        box-shadow: 0 3px rgba(0, 0, 0, 0.19) inset;
      }
      &:disabled {
        background-color: $main-color - 30%;
        &:hover {
          &::after {
            display: none;
          }
        }
      }
    }
    .um-label-checkbox {
      font-size: 12px;
      color: #999;
      &.um-checked {
        &::before {
          border-right: 2px solid $main-color;
          border-bottom: 2px solid $main-color;
        }
      }
    }
    .um-get-phone-code {
      .um-form-group {
        float: none;
        margin: 0 auto 0.5em;
      }
    }
  }
}