@import 'mixins';
@import 'reset';
@import 'base';
@import 'tooltip';
@import 'modal';

@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,400italic,700,700italic&subset=latin,cyrillic);

.um-btn.um-edim-doma{
    display: block;
    margin: 0 auto;
    padding: 0 15px;
    line-height: 2.9em;
    background: #20A555;
    border-radius: 3em;
    color: #fff;
    font: normal 14px /20px "Conv_Chianti-Bold", "Fira Sans",sans-serif;
    &:disabled {
        background-color: rgba(32,165,85,.3);
    }
}

.um.um-edim-doma{
    max-width: 324px;
    padding: 20px 30px;
    border: 2px solid #fff;
    font: normal 14px /20px "Conv_Chianti-Bold","Fira Sans",sans-serif;
    background: #f7ab65 url('http://new.kuhni-edimdoma.ru/images/bg-wood1.jpg');
    background-size: cover;
    box-shadow: 0px 0px 70px;
    fieldset {
        margin-bottom: 20px;
    }
    .um-form-step-2 {
        fieldset {
        margin-bottom: 10px;
    }
    }
    legend {
        margin-bottom: 12px;
        color: #fff;
        font-family: "Conv_Chianti-Bold","Fira Sans",sans-serif;
        font-size: 26px;
        line-height: 1;
        text-align: center;
        text-shadow: 0px 0px 10px #333;
        .um-title,
        .um-title-2 {
            display: block;
            color: inherit;
            font-size: inherit;
        }
    }
    label {
        display: inline-block;
        color: #fff;
        font: inherit;
        text-shadow: 0px 0px 10px #666;
        &.um-label-checkbox {
            border-color: #fff;
            padding-left: 18px;
            color: black;
            font-size: 11px;
            line-height: 16px;
            letter-spacing: -0.5px;
            &::after {
                background-color: #fff;
            }
        }
    }
    .um-btn {
        display: block;
        margin: 0 auto;
        padding: 0 15px;
        line-height: 41px;
        background: #20A555;
        border-radius: 3em;
        color: #fff;
        font-family: "Conv_Chianti-Bold","Fira Sans",sans-serif;
        font-size: 16px;
        white-space: nowrap;
        &.um-btn-primary,
        &.um-btn-contrast{
            padding: 0 5px;
        }
        &:disabled {
            background-color: rgba(32,165,85,.3);;
        }
    }
    .um-form-group {
        width: 100%;
        margin-bottom: 15px;
        &.um-form-group-city,
        &.um-form-group-shop,
        &.um-form-group-wishes {
            max-height: 54px;
            margin-bottom: 13px;
            .um-form-control {
                height: 34px;
            }
        }
        &.um-form-group-phone {
            .um-field-wrap {
                &::before {
                    display: none;
                }
            }
            &.um-with-phone-flag {
                .um-form-control {
                    padding-left: 60px;
                }
                .um-phone-flag{
                    left: 30px;
                    top: auto;
                    bottom: 14px;
                }
            }
            >.um-dropdown-content {
                display: none!important;
            }
        }
        &.um-form-group-shop {
            &.um-with-map {
                &::before {
                    right: 65px;
                }
                .um-form-control{
                    width: 80%;
                }
                .um-dropdown-content {
                    right: 70px;
                }
            }
            .um-icon-add-location{
                position: absolute;
                right: 10px;
                width: 3em;
                height: 3em;
                fill: #A21533;
            }
        }
        &.um-form-group-personal-data {
            width: 100%;
            margin-bottom: 0;
        }
        &.um-select {
          &::before {
            top: auto;
            bottom: 14px;
            right: 10px
          }
          &.um-select-left {
            &::before {
                left: 10px;
            }
          }
        }
    }
    .um-form-control{
        width: 100%;
        height: 40px;
        padding: 5px 15px;
        border: 2px solid #7b7b79;
        border-radius: 5px;
        background: #fff;
        &:disabled {
            border: 2px solid #bbbbbb;
        }
        &:focus {
            border: 2px solid #99baca;
            outline: 0;
            background: #f5fbfe;
            color: #444;
        }
    }
    textarea {
        resize: none;
    }
    .um-dropdown-content{
        width: auto;
        left: 0;
        right: 0;
        border: solid #7b7b79;
        border-width: 0 2px 2px;
    }

    .um-privacy {
        color: #a31632;
        text-decoration: underline;
        &::focus,
        &::hover {
            color: #b14a4e;
            text-decoration: none;
        }
    }

    /* костыль с шагами */
    .um-btn-next,
    .um-btn-prev {
        &::before {
            position: absolute;
            top: 6px;
            width: 35px;
            height: 35px;
            line-height: 35px;
            opacity: 0.8;
        }
    }    
    .um-btn-next {
        &::before {
            right: 8px;
            content: url('data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTYuMC4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjE2cHgiIGhlaWdodD0iMTZweCIgdmlld0JveD0iMCAwIDQ0NC44MTUgNDQ0LjgxNSIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNDQ0LjgxNSA0NDQuODE1OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxnPgoJPHBhdGggZD0iTTQyMS45NzYsMTk2LjcxMkwyMzYuMTExLDEwLjg0OEMyMjguODg0LDMuNjE1LDIyMC4yMTksMCwyMTAuMTMxLDBjLTkuOSwwLTE4LjQ2NCwzLjYxNS0yNS42OTcsMTAuODQ4TDE2My4wMjMsMzIuMjYgICBjLTcuMjM0LDYuODUzLTEwLjg1LDE1LjQxOC0xMC44NSwyNS42OTdjMCwxMC4yNzcsMy42MTYsMTguODQyLDEwLjg1LDI1LjY5N2w4My42NTMsODMuOTM3SDQ1LjY3NyAgIGMtOS44OTUsMC0xNy45MzcsMy41NjgtMjQuMTIzLDEwLjcwN3MtOS4yNzksMTUuNzUyLTkuMjc5LDI1LjgzN3YzNi41NDZjMCwxMC4wODgsMy4wOTQsMTguNjk4LDkuMjc5LDI1LjgzNyAgIHMxNC4yMjgsMTAuNzA0LDI0LjEyMywxMC43MDRoMjAwLjk5NUwxNjMuMDIsMzYwLjg4Yy03LjIzNCw3LjIyOC0xMC44NSwxNS44OS0xMC44NSwyNS45ODFjMCwxMC4wODksMy42MTYsMTguNzUsMTAuODUsMjUuOTc4ICAgbDIxLjQxMSwyMS40MTJjNy40MjYsNy4wNDMsMTUuOTksMTAuNTY0LDI1LjY5NywxMC41NjRjOS44OTksMCwxOC41NjItMy41MjEsMjUuOTgxLTEwLjU2NGwxODUuODY0LTE4NS44NjQgICBjNy4wNDMtNy4wNDMsMTAuNTY3LTE1LjcwMSwxMC41NjctMjUuOTgxQzQzMi41NCwyMTEuOTM5LDQyOS4wMTYsMjAzLjM3LDQyMS45NzYsMTk2LjcxMnoiIGZpbGw9IiNGRkZGRkYiLz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8L3N2Zz4K');
        }
    }
    .um-btn-prev {
        &::before {
            left: 8px;
            content: url('data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTYuMC4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjE2cHgiIGhlaWdodD0iMTZweCIgdmlld0JveD0iMCAwIDQ5My41NzggNDkzLjU3OCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNDkzLjU3OCA0OTMuNTc4OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxnPgoJPHBhdGggZD0iTTQ4Ny4yNjcsMjI1Ljk4MWMwLTE3LjM2NS0xMy45OTktMzEuNTE4LTMxLjUxOC0zMS41MThIMTk0LjUwMUwzMDUuMzUsODMuNjE1YzEyLjI0LTEyLjI0LDEyLjI0LTMyLjIwNywwLTQ0LjY3NiAgIEwyNzUuNTkyLDkuMThjLTEyLjI0LTEyLjI0LTMyLjIwNy0xMi4yNC00NC42NzYsMEwxNS41NjgsMjI0LjUyN2MtNi4xMiw2LjEyLTkuMjU2LDE0LjE1My05LjI1NiwyMi4yNjIgICBjMCw4LjAzMiwzLjEzNiwxNi4xNDIsOS4yNTYsMjIuMjYybDIxNS4zNDgsMjE1LjM0OGMxMi4yNCwxMi4yMzksMzIuMjA3LDEyLjIzOSw0NC42NzYsMGwyOS43NTgtMjkuNzU5ICAgYzEyLjI0LTEyLjI0LDEyLjI0LTMyLjIwNywwLTQ0LjY3NkwxOTQuNTAxLDI5OS40OThoMjYxLjA5NGMxNy4zNjYsMCwzMS41MTktMTQuMTUzLDMxLjUxOS0zMS41MTlMNDg3LjI2NywyMjUuOTgxeiIgZmlsbD0iI0ZGRkZGRiIvPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+Cjwvc3ZnPgo=');
        }
    }
    .um-btn-step-1 {
        width: 100%;
    }
    .um-btn-step-2,
    .um-btn[type="submit"]{
        width: 49%;
    }
    .um-btn + .um-btn {
        margin-left: 1%;
    }
    .um-form-step {
        .um-btn,
        .um-form-group {
            display: none;
        }

    }
    .um-form-step-1 {
        .um-btn-step-1,
        .um-form-group-step-1 {
            display: block!important;
        }
    }
    .um-form-step-2 {
        .um-form-group-step-2 {
            display: block!important;
        }
        .um-btn-step-2 {
            display: inline-block;
        }
    }
}