@import 'mixins';
@import 'reset';
@import 'base';
@import 'tooltip';
@import 'modal';
@import 'dropdown-select';
$color-red: red;
$color-orange: #ff391e;
$color-orange--hover: #ee1919;
$color-orange--border: rgba(214, 42, 18, .55);

@mixin btn() {
    font: inherit;
    font-size: .85rem;
    font-weight: 600;
    line-height: 35px;

    position: relative;

    display: inline-block;
    overflow: visible;

    box-sizing: border-box;
    min-height: 35px;
    margin: 0;
    padding: 0 30px 0 20px;

    cursor: pointer;
    -webkit-transition: .2s ease-in;
            transition: .2s ease-in;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: .3px;
    text-transform: uppercase;

    color: white;
    border: 1px solid $color-orange--border;
    border-radius: 25px;
    outline: 0;
    background: $color-orange;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .4);

    -webkit-appearance: none;
    &:focus,
    &:hover {
        background-color: $color-orange--hover;
    }
}

.um-btn.um-edim-doma--horizontal {
    @include btn();
}

.um.um-edim-doma--horizontal {
    font-family: 'Open Sans', sans-serif;

    padding: 30px;

    color: #444;
    background: #f9f9f9;
    :invalid {
        box-shadow: none;
    }
    a {
        -webkit-transition: .2s ease-in;
                transition: .2s ease-in;

        color: $color-orange;
        &:hover {
            color: #ff9800;
        }
    }
    .um-form {
        label {
            &:not(.um-label-checkbox) {
                font-weight: 600;

                display: block;

                margin-bottom: 5px;
            }
            &.um-label-checkbox {
                font-size: 11px;
                line-height: 16px;
            }
        }
        [type='submit'] {
            position: absolute;
            right: 15px;
            bottom: -35px;
        }
    }
    .um-form-control {
        font: inherit;

        width: 100%;
        max-width: 100%;
        height: 35px;
        padding: 4px 6px;

        -webkit-transition: all linear .2s;
                transition: all linear .2s;
        vertical-align: middle;

        color: #444;
        border: 1px solid rgb(204, 210, 204);
        border-radius: 3px;
        background: #fff;
        background: rgba(250,250,250,.8);
        box-shadow: none;

        -webkit-appearance: none;
        &:focus {
            border-color: white;
            outline: 0;
            background: white;
            box-shadow: 0 0 5px rgba(0,0,0,.3);
        }
    }
    textarea.um-form-control {
        resize: none;

        border: dashed transparent;
        background: none;
        &:focus {
            border-color: #ddd;
        }
    }
    .um-form-group {
        float: left;

        width: 100%;
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }
        &.um-has-error {
            .um-form-control {
                border-color: $color-red;
                box-shadow: none;
            }
        }
        &.um-select.um-select-left .um-field-wrap::before {
            display: none;
        }
        &.um-form-group-phone {
            .um-dropdown-content {
                display: none!important;// не показываем выпадающий список с кодами стран
            }
        }
        .um-form-group-firstname,
        .um-form-group-email,
        .um-form-group-phone {
            width: calc(33.3333% - 10px);
        }
        .um-form-group-city,
        .um-form-group-shop {
            width: calc(50% - 10px);
        }
        svg[class^='um-icon-'] {
            line-height: 100%;

            position: absolute;
            top: 7px;
            right: 15px;

            width: 2em;
            height: 2em;

            cursor: pointer;

            background-color: white;

            fill: #757575;
        }
    }
}
