@import 'colors';
@import 'tooltip';
@import 'modal';
//@import 'loading';
@import 'load-bar';

$font-stack: Helvetica, sans-serif;
@mixin um-animation-show() {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s, visibility 0s ease-in 0.3s;
    -moz-transition: opacity 0.3s, visibility 0s ease-in 0.3s;
    -o-transition: opacity 0.3s, visibility 0s ease-in 0.3s;
    transition: opacity 0.3s, visibility 0s ease-in 0.3s;
    transition-delay: 0s;
}

.um-hidden {
    display: none !important;
    visibility: hidden;
}

.um {
    @include um-animation-show();
    max-width: 500px;
    border-radius: 2px;
    //overflow: hidden;
    background: #fff;
    box-sizing: border-box;
    &.fixed {
        position: fixed;
        bottom: 5vh;
        right: 5vh;
        z-index: 2010;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    }
    * {
        box-sizing: inherit;
    }
    .um-close {
        position: absolute;
        top: 1em;
        right: 1em;
        width: 2em;
        height: 2em;
    }
}
.um-close {
    background-color: transparent;
    fill: #000;
    opacity: .3;
    cursor: pointer;
    :hover{
        opacity: .5;
    }
}

.um-title {
  padding: 0 0 0.4em 0;
  color: #666;
  font-size: 2em;
    margin: 0;
}
.um-title-2 {
  font-size: 1.3em;
  padding: 0 0 1em 0;
    margin: 0;
}

.um-form {
  font-size: 14px;
  width: 315px;
  padding: 1.5em;

  label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
  }
    .um-btn{
        width: 100%;
    }
}
.um-login{
    margin-bottom: 20px;
}
.um-sr-only{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
.um-form-group{
  position: relative;
  margin-bottom: 15px;
  &.um-has-error{
    .um-form-control{
      border-color: #d50000;
      box-shadow: none;
    }
  }
  svg[class^='um-icon-']{
    position: absolute;
    top: 0;
    right: 0;
    width: 2.5em;
    background-color: #fff;
    line-height: 100%;
    fill: #757575;
    cursor: pointer;
  }
}
.um-form-control{
  border: none;
  border-bottom: 1px solid rgba(0,0,0,.12);
  display: block;
  font-size: 16px;
  font-family: "Helvetica","Arial",sans-serif;
  margin: 0;
  padding: 4px 0;
  width: 100%;
  background: 0 0;
  text-align: left;
  color: inherit;
  &:focus {
    outline: none;
  }
}
.um-btn{
  background: 0;
  border: none;
  border-radius: 2px;
  color: #000;
  position: relative;
  height: 36px;
  margin: 0;
  min-width: 64px;
  padding: 0 16px;
  display: inline-block;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0;
  overflow: hidden;
  will-change: box-shadow;
  transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  line-height: 36px;
  vertical-align: middle;
    &[disabled][disabled]{
        color: rgba(0,0,0,.26);
        cursor: default;
        background-color: transparent;
    }
}
.um-btn--raised {
  background: rgba(158,158,158,.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  &:active {
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
    background-color: rgba(158,158,158,.4)
  }
    &:focus:not(:active) {
        box-shadow: 0 0 8px rgba(0,0,0,.18),0 8px 16px rgba(0,0,0,.36);
        background-color: rgba(158,158,158,.4);
    }
    [disabled][disabled]{
        background-color: rgba(0,0,0,.12);
        color: rgba(0,0,0,.26);
        box-shadow: none;
    }
}
.um-btn-primary {
  color: #fff;
  background-color: $primary-color;
    &:active {
        background-color: $primary-color;
    }
    &:focus:not(:active) {
        background-color: $primary-color;
    }
}
.um-btn-red{
  color: #fff;
  background-color: $main-color;
  &:active {
    background-color: $main-color;
  }
  &:focus:not(:active) {
    background-color: $main-color;
  }
}
.um-btn-start--fixed{
  position: fixed;
  bottom: 5vh;
  right: 5vh;
  z-index: 2000;
}

.um-order-confirm{
  font-size: 14px;
  width: 315px;
  padding: 1.5em;
}

.um-dropdown-content{
  padding: 0;
  background-color: #fff;
  margin: 0;
  /* display: none; */
  min-width: 100px;
  width: 100%;
  max-height: 150px;
  overflow-y: auto;
  //opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 999;
  will-change: width, height;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  &.active{
    display: block;
    opacity: 1;
  }
  li {
    list-style-type: none;
    clear: both;
    color: rgba(0,0,0,0.87);
    cursor: pointer;
    min-height: 50px;
    line-height: 1.5rem;
    width: 100%;
    text-align: left;
    text-transform: none;
    >span,
    >a{
      font-size: 16px;
      color: #26a69a;
      display: block;
      line-height: 22px;
      padding: 14px 16px
    }
    &.active{
      background-color: #eee;
    }
    &.disabled{
      color: rgba(0,0,0,0.3);
      background-color: transparent;
    }
  }
}

#umMap{
  height: 500px;
}