@import 'mixins';
@import 'reset';
@import 'base';
@import 'tooltip';
@import 'modal';
@import 'dropdown-select';
$color-red: #d50000;
$color-red--hover: #f44336;

@mixin btn() {
    font-family: 'OfficinaSansMedium';
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    line-height: 50px;

    position: relative;

    display: inline-block;
    overflow: visible;

    box-sizing: border-box;
    width: 100%;
    min-height: 50px;
    margin: 0;
    padding: 0 20px;

    -webkit-transition: all .1s ease-in-out;
            transition: all .1s ease-in-out;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    text-transform: none;

    color: white;
    border: none;
    background: $color-red;

    -webkit-appearance: none;
    &:focus,
    &:hover {
        background-color: $color-red--hover;
        box-shadow: inset 0 0 10px 30px #f44336;
    }
    &:not(:disabled) {
        cursor: pointer;
    }
}

.um-btn.um-marya--promo {
    @include btn();
}

.um.um-marya--promo {
    font: inherit;
    .um-tooltip {
        display: none!important;
    }
    .um-btn {
        @include btn();
        &[type='submit'] {
            display: block;

            margin: 0 auto;
            &::before {
                font-family: FontAwesome;
                font-size: 20px;
                line-height: 50px;

                position: absolute;
                z-index: 10;
                top: 0;
                left: -25px;

                box-sizing: border-box;
                width: 50px;
                height: 50px;

                content: '\f178';
                -webkit-transition: all .25s ease-in-out;
                        transition: all .25s ease-in-out;
                text-align: center;
                vertical-align: middle;

                color: #d50000;
                border: 1px solid rgba(0, 0, 0, .02);
                border-radius: 100%;
                background-color: white;
                box-shadow: 1px 1px 5px rgba(0, 0, 0, .4);
            }
            &:hover {
                &::before {
                    transform: translateX(5px);

                    box-shadow: 1px 1px 2px rgba(0, 0, 0, .55);
                }
            }
        }
    }
    fieldset {
        > legend {
            width: 100%;
            margin-bottom: 15px;

            text-align: right;
        }
    }
    .um-title,
    .um-title-2 {
        font-family: 'OfficinaSansMedium';

        display: block;
    }
    .um-title {
        font-size: 26px;

        position: relative;

        padding: 20px 20px 5px 20px;

        color: #d50000;
        &::before {
            font-family: 'marya';
            font-weight: normal;
            font-style: normal;
            font-variant: normal;
            line-height: 1em;

            display: inline-block;

            width: 1em;
            margin-right: .2em;
            margin-right: 15px;
            margin-left: .2em;

            content: '\e80d';
            text-align: center;
            text-decoration: inherit;
            text-transform: none;

            speak: none;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    }
    .um-title-2 {
        font-size: 18px;
        line-height: 22px;

        padding: 0 20px 20px 20px;

        color: #242424;
    }
    label {
        font-family: 'OfficinaSansBookItalic';
        font-size: 13px;

        display: block;

        margin-bottom: 5px;
    }
    .um-field-wrap {
        width: 100%;
    }
    .um-form-control {
        font: inherit;

        width: 100%;
        max-width: 100%;
        height: 30px;
        padding: 4px 6px;

        -webkit-transition: .25s ease-in;
                transition: .25s ease-in;

        color: #444;
        border: 1px solid #d6d6d6;
        background: #fff;
        &:focus {
            color: #444;
            border-color: #d8d8d8;
            outline: 0;
            background: #f7f7f7;
            box-shadow: 0 0 5px rgba(0, 0, 0, .09) inset;
        }
        &:not([type='radio']):not([type='checkbox']) {
            vertical-align: middle;
        }
    }
    textarea.um-form-control {
        resize: none;
        text-align: center;

        border: 0 transparent dashed;
        outline: 0;
        background: rgba(255, 255, 255, 0);
        box-shadow: none;
        &:focus {
            cursor: text;

            color: #444;
            border: 1px #e8e8e8 dashed;
            outline: 0;
            -webkit-box-shadow: none;
               -moz-box-shadow: none;
                    box-shadow: none;
        }
    }
    .um-form-group {
        margin-bottom: 5px;
        padding: 0 20px;
        &.um-form-group-personal-data {
            text-align: center;
            label {
                display: inline-block;
            }
        }
        &.um-has-error {
            .um-form-control {
                border-color: $color-red;
                box-shadow: none;
            }
        }
        &.um-select {
            &.um-open-select {
                .um-field-wrap::before {
                    content: '\f106';
                }
            }
            .um-field-wrap::before {
                font: normal normal normal 14px/1 FontAwesome;
                font-size: 2em;

                top: 1px;
                right: 1px;
                bottom: 1px;

                display: block;

                width: 30px;
                height: auto;
                margin: 0;
                padding: 0 6px;

                content: '\f107';
                cursor: pointer;

                color: #fff;
                border: none;
                background: $color-red;

                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
            &.um-select-left {
                .um-field-wrap::before {
                    display: none;
                }
            }
            .um-form-control {
                cursor: pointer;
            }
        }
        &.um-form-group-phone {
            .um-dropdown-content {
                display: none!important;// не показываем выпадающий список с кодами стран
            }
        }
    }
    .um-label-checkbox {
        font: inherit;
        font-size: 11px;
        font-weight: normal;
        line-height: 16px;
    }
    .um-wrapper-hidden {
        label:before {
            margin-top: -3px;
            margin-right: 5px;
        }
    }
    .um-dropdown-content {
        max-height: 432px;

        border: 1px solid #d6d6d6;
        box-shadow: 0 5px 10px rgba(66,75,92,.1);
        li {
            font: inherit;

            min-height: 1em;
            padding: 4px 6px;

            -webkit-user-select: none;
               -moz-user-select: none;
                -ms-user-select: none;
                    user-select: none;
            white-space: nowrap;

            color: #231f20;
            &.active,
            &:focus,
            &:hover {
                color: white;
                background-color: $color-red;
            }
        }
    }
}

.um-horizontal {
    .um.um-marya--promo {
        legend {
            display: none;
        }
        .um-btn {
            &[type='submit'] {
                max-width: 400px;
            }
        }
        .um-login {
            padding: 10px;
        }
        .um-form-group {
            padding: 0;
            &.um-form-group-personal-data {
                text-align: right;
            }
        }
    }
}

@media(max-width:959px) {
    .um-btn[type='submit']::before {
        left: 0;
    }
}

@media (min-width: 960px) {
    .um-horizontal {
        .um.um-marya--promo {
            .um-login {
                margin-right: -10px;
                margin-left: -10px;
            }
            .um-form-group {
                float: left;

                width: 100%;
                padding: 0 10px;
                &.um-form-group-firstname,
                &.um-form-group-email,
                &.um-form-group-phone,
                &.um-form-group-city {
                    width: 50%;
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .um-horizontal {
        .um.um-marya--promo {
            .um-login {
                margin-right: -5px;
                margin-left: -5px;
            }
            .um-form-group {
                width: 100%;
                padding: 0 5px;
                &.um-form-group-firstname,
                &.um-form-group-email,
                &.um-form-group-phone,
                &.um-form-group-city {
                    width: 25%;
                }
            }
        }
    }
}
