@import 'mixins';
@import 'reset';
@import 'base';
@import 'tooltip';
@import 'modal';
@import 'dropdown-select';
$color-red: #d12323;
$color-red--hover: #b51212;
$color-red-text: #ba3223;

@mixin btn() {
    font: inherit;
    font-family: 'Schlange';
    font-size: 15px;
    font-weight: bold;
    line-height: 40px;

    display: inline-block;
    overflow: visible;

    box-sizing: border-box;
    min-height: 40px;
    margin: 0;
    padding: 0 25px;

    -webkit-transition: .35s ease-in-out;
            transition: .35s ease-in-out;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    text-transform: none;

    color: #fff;
    border: none;
    border-radius: 3px;
    background: $color-red;
    box-shadow: 0 4px 4px rgba(0,0,0,.1);

    -webkit-appearance: none;
    &:focus,
    &:hover {
        background-color: $color-red--hover;
    }
    &:not(:disabled) {
        cursor: pointer;
    }
}

.um-btn.um-mia--new {
    @include btn();
}

.um.um-mia--new {
    font: normal 14px / 20px 'Trebuchet MS', Helvetica, Arial, sans-serif;

    background-color: initial;
    .um-tooltip {
        display: none!important;
    }
    .um-btn {
        @include btn();
        &.um-btn-primary {
            display: block;

            margin: 0 auto;
        }
    }
    legend {
        display: block;

        width: 100%;

        text-align: center;
    }
    fieldset {
        padding: 20px 100px 0;
    }
    .um-title,
    .um-title-2 {
        font-family: 'Schlange';
        font-size: 24px;
        font-weight: bold;
        line-height: 30px;

        padding: 0;

        color: $color-red-text;
    }
    label {
        font-family: 'Schlange';
        font-weight: bold !important;

        display: block;

        margin-bottom: 5px;

        color: #555c60;
    }
    .um-field-wrap {
        width: 100%;
    }
    .um-form-control {
        width: 100%;
        max-width: 100%;
        height: 40px;
        padding: 4px 6px;

        -webkit-transition: .25s ease-in;
                transition: .25s ease-in;

        color: #444;
        border: 1px solid rgba(0,0,0,.2);
        background: #fff;
        &:not([type='radio']):not([type='checkbox']) {
            vertical-align: middle;
        }
    }
    textarea.um-form-control {
        text-align: center;

        border: 0 transparent dashed;
        background: none;
        &:focus {
            height: auto;

            cursor: text;

            color: #444;
            border: 1px #e8e8e8 dashed;
            outline: 0;
            -webkit-box-shadow: none;
               -moz-box-shadow: none;
                    box-shadow: none;
        }
    }
    .um-form-group {
        float: left;

        width: 100%;
        margin-bottom: 15px;
        &.um-form-group-firstname,
        &.um-form-group-email,
        &.um-form-group-phone,
        &.um-form-group-city {
            width: calc(50% - 17px);
        }
        &.um-form-group-email,
        &.um-form-group-city {
            float: right;
        }
        &.um-form-group-wishes {
            label {
                display: none;
            }
        }
        &.um-form-group-personal-data {
            text-align: center;
            label {
                display: inline-block;
            }
        }
        &.um-has-error {
            .um-form-control {
                border-color: $color-red;
                box-shadow: none;
            }
        }
        &.um-select {
            &.um-select-left .um-field-wrap::before {
                display: none;
            }
            .um-form-control {
                cursor: pointer;
            }
        }
        &.um-form-group-phone {
            .um-dropdown-content {
                display: none!important;// не показываем выпадающий список с кодами стран
            }
        }
    }
    .um-label-checkbox {
        font-size: 11px;
        line-height: 16px;
    }
    .um-dropdown-content {
        max-height: 432px;

        border: none;
        box-shadow: 0 5px 10px rgba(66,75,92,.1);
        li {
            font: inherit;

            min-height: 1em;
            padding: 4px 6px;

            -webkit-user-select: none;
               -moz-user-select: none;
                -ms-user-select: none;
                    user-select: none;
            white-space: nowrap;

            color: #231f20;
            &.active,
            &:focus,
            &:hover {
                color: white;
                background-color: $color-red;
            }
        }
    }
}
