@import 'colors';
@import 'mixins';
@import 'reset';
@import 'base';
@import 'tooltip';
@import 'modal';
@import 'load-bar';

$font-stack: Helvetica, sans-serif;

.um-btn.um-material{
  background: 0;
  border-radius: 2px;
  color: #000;
  margin: 0;
  min-width: 64px;
  padding: 0 16px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0;
  overflow: hidden;
  will-change: box-shadow;
  transition: box-shadow .2s cubic-bezier(.4, 0, 1, 1), background-color .2s cubic-bezier(.4, 0, .2, 1), color .2s cubic-bezier(.4, 0, .2, 1);
  outline: none;
  background: rgba(158, 158, 158, .2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
  &:active {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
    background-color: rgba(158, 158, 158, .4)
  }
  &:focus:not(:active) {
    box-shadow: 0 0 8px rgba(0, 0, 0, .18), 0 8px 16px rgba(0, 0, 0, .36);
    background-color: rgba(158, 158, 158, .4);
  }
  &:disabled {
    background-color: rgba(0, 0, 0, .12);
    color: rgba(0, 0, 0, .26);
    box-shadow: none;
  }

  &.um-btn-primary {
    color: #fff;
    background-color: $primary-color;
    &:active {
      background-color: $primary-color;
    }
    &:focus:not(:active) {
      background-color: $primary-color;
    }
  }

  &.um-btn-contrast {
    color: #fff;
    background-color: $main-color;
    &:active {
      background-color: $main-color;
    }
    &:focus:not(:active) {
      background-color: $main-color;
    }
  }
}

.um.um-material{
  @include um-animation-show();
  max-width: 315px;
  border-radius: 2px;
  //overflow: hidden;
  background: #fff;
  &.fixed {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
  }
  .um-close {
    position: absolute;
    top: 1em;
    right: 1em;
    width: 2em;
    height: 2em;
  }
  
  .um-title,
  .um-title-2{
    display: block;
  }

  .um-form {
    font-size: 14px;
    width: 315px;
    padding: 1.5em;
    label {
      display: inline-block;
      max-width: 100%;
      margin-bottom: 5px;
      font-weight: 700;
      &:not(.um-label-checkbox) {
        @include um-sr-only();
      }
    }
    .um-btn {
      width: 100%;
    }
  }

  .um-login {
    margin-bottom: 20px;
  }

  .um-form-group {
    margin-bottom: 15px;
    &.um-has-error {
      .um-form-control {
        border-color: #d50000;
        box-shadow: none;
      }
    }
    svg[class^='um-icon-'] {
      position: absolute;
      top: 0;
      right: 0;
      width: 2.5em;
      background-color: #fff;
      line-height: 100%;
      fill: #757575;
      cursor: pointer;
    }
  }

  .um-form-control {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    display: block;
    font-size: 16px;
    font-family: "Helvetica", "Arial", sans-serif;
    margin: 0;
    padding: 4px 0;
    width: 100%;
    background: 0 0;
    text-align: left;
    color: inherit;
    &:focus {
      outline: none;
    }
  }

  .um-btn {
    background: 0;
    border-radius: 2px;
    color: #000;
    margin: 0;
    min-width: 64px;
    padding: 0 16px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
    overflow: hidden;
    will-change: box-shadow;
    transition: box-shadow .2s cubic-bezier(.4, 0, 1, 1), background-color .2s cubic-bezier(.4, 0, .2, 1), color .2s cubic-bezier(.4, 0, .2, 1);
    outline: none;
    background: rgba(158, 158, 158, .2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    &:active {
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
      background-color: rgba(158, 158, 158, .4)
    }
    &:focus:not(:active) {
      box-shadow: 0 0 8px rgba(0, 0, 0, .18), 0 8px 16px rgba(0, 0, 0, .36);
      background-color: rgba(158, 158, 158, .4);
    }
    &:disabled {
      background-color: rgba(0, 0, 0, .12);
      color: rgba(0, 0, 0, .26);
      box-shadow: none;
    }
  }

  .um-btn-primary {
    color: #fff;
    background-color: $primary-color;
    &:active {
      background-color: $primary-color;
    }
    &:focus:not(:active) {
      background-color: $primary-color;
    }
  }

  .um-btn-contrast {
    color: #fff;
    background-color: $main-color;
    &:active {
      background-color: $main-color;
    }
    &:focus:not(:active) {
      background-color: $main-color;
    }
  }

  .um-order-confirm {
    font-size: 14px;
    width: 315px;
    padding: 1.5em;
  }

  .um-dropdown-content {
    will-change: width, height;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    li {
      min-height: 50px;
      > span,
      > a {
        color: #26a69a;
        font-size: 16px;
        line-height: 22px;
        padding: 14px 16px;
      }
      > .um-dropdown-img {
        margin: 12px 15px 12px 0;
        &.img-flag {
          margin-top: 17px;
        }
      }
    }
  }
}