@import 'mixins';
@import 'reset';
@import 'base';
@import 'tooltip';
@import 'modal';
@import 'dropdown-select';
$color-green: #46a546;
$color-red: #ed1c24;

@mixin btn() {
    font-size: 1.4rem;
    line-height: 1.5rem;

    display: inline-block;

    height: 4.4rem;
    margin: 0;
    padding: .3rem 2rem;

    -webkit-transition: .35s ease-in-out;
            transition: .35s ease-in-out;
    text-align: center;
    vertical-align: middle;

    color: #fff;
    border: none;
    border-radius: .4rem;
    outline: 0;
    background-color: #ed1c24;

    -webkit-appearance: none;
    &:active,
    &:focus,
    &:hover {
        background-color: #b11116;
    }
}

.um-btn.um-mvideo {
    @include btn();
}

.um.um-mvideo {
    font-family: MVideo,Arial,Helvetica,sans-serif;
    font-size: 1.4rem;
    line-height: 1.7rem;

    width: 34rem;
    max-width: 34rem;
    margin: 2rem auto;

    color: #333;
    .um-title,
    .um-title-2 {
        font-size: 2.2rem;
        line-height: 2.6rem;

        display: block;
    }
    .um-title {
        font-size: 2.8rem;

        color: $color-red;
    }
    .um-btn {
        @include btn();
    }
    .um-btn-primary {
        width: 100%;
    }
    .um-form-group {
        margin-bottom: 15px;
        &.um-has-error {
            .um-form-control {
                border-color: $color-red;
                box-shadow: none;
            }
        }
    }
    .um-form-control {
        font-size: 1.4rem;
        line-height: 2rem;

        position: relative;

        display: block;

        width: 100%;
        height: 4.4rem;
        margin: 0;
        padding: .1rem;

        border-style: none;
        border-radius: .5rem;
        outline: 0;
        background: #fff;
        box-shadow: 0 1px 6px #ccc inset;
    }
    .um-label-checkbox {
        padding-left: 3rem;
        &::after {
            width: 20px;
            height: 20px;

            border: 0;
            border-radius: .4rem;
            box-shadow: 0 1px 6px #ccc inset;
        }
        &.um-checked {
            &::before {
                top: 3px;
                left: 2px;

                border-right: 2px solid $color-green;
                border-bottom: 2px solid $color-green;
            }
        }
    }
    .um-form {
        label {
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.7rem;

            display: block;

            margin-bottom: .5rem;

            color: #333;
            &:not(.um-label-checkbox) {
                @include sr-only();
            }
        }
    }
}
